@model SSRepository.Models.UserModel

@{
    ViewData["Title"] = "Create";
    ViewData["bdClass"] = "page";
}
<div class="p-3">
    <form asp-action="Create" class="g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PkUserId" />
 
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Employee </label>
                    <select asp-for="FkEmployeeId" asp-items="@(new SelectList(ViewBag.EmployeeList,"PkEmployeeId","Name"))" class="form-control" id="FkEmployeeId">
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Branch </label>
                    <select asp-for="FkBranchId" asp-items="@(new SelectList(ViewBag.BranchList,"PkBranchId","BranchName"))" class="form-control" id="FkBranchId">
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">User Id</label>
                    <input asp-for="UserId" class="form-control" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input asp-for="Pwd" class="form-control" />
                    <span asp-validation-for="Pwd" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Role </label>
                    <select asp-for="FkRoleId" asp-items="@(new SelectList(ViewBag.RoleList,"PkRoleId","RoleName"))" class="form-control" id="FkRoleId">
                    </select>
                </div>
            </div>


        </div>

    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
        })
        UploadImage = (id) => {
            var file = document.querySelector('input[id="file_' + id + '"]').files[0];
            // $("#FileName").val(file.name);
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                //console.log(reader.result);
                $("#" + id).val(reader.result);
                $("#dummyimage_" + id).attr("src", reader.result);
                $("#dummyimage_" + id).show();
                //   $("#myImage").hide();

            };
        }
    </script>
                }