@model SSRepository.Models.BankModel

@{
    ViewData["Title"] = "Create";
    ViewData["bdClass"] = "page";
}

<div class="p-3">
    <form asp-action="Create" class="g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkBankId" />
 
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Bank Name</label>
                    <input asp-for="BankName" class="form-control" />
                    <span asp-validation-for="BankName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">IFSC Code</label>
                    <input asp-for="IFSCCode" class="form-control" />
                    <span asp-validation-for="IFSCCode" class="text-danger"></span>
                </div>
            </div>

        </div>
       
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script>
       $(document).ready(function(){
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
       })
        UploadImage = (id) => {
            var file = document.querySelector('input[id="file_' + id + '"]').files[0];
            // $("#FileName").val(file.name);
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                //console.log(reader.result);
                $("#" + id).val(reader.result);
                $("#dummyimage_" + id).attr("src", reader.result);
                $("#dummyimage_" + id).show();
                //   $("#myImage").hide();

            };
        }
</script>
}