@model SSRepository.Models.AccountGroupModel

@{
    ViewData["Title"] = "Account Group";
    ViewData["bdClass"] = "page";
}
<div class="master-page-ui">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkAccountGroupId" />
        <div class="row">
            <div class="col-md-8">
                <div class="form-group row">
                    <label class="col-sm-2">Group</label>
                    <div class="col-md-6">
                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkAccountGroupId" } , { "Class", "val-cus-drp" },
                        { "value", Model.FkAccountGroupId }, { "text", Model.PAccountGroupName }, { "uri", "AccountGroup" },  { "placeholder", "Select Group"} })
                        @*                        <select asp-for="FkAccountGroupId" asp-items="@(new SelectList(ViewBag.AccountGroupList,"PkAccountGroupId","AccountGroupName"))" class="form-control" id="FkAccountGroupId">
                        </select>*@
                        <span asp-validation-for="FkAccountGroupId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Group Name<span class="required">*</span> </label>
                    <div class="col-md-6">
                        <input asp-for="AccountGroupName" class="form-control" maxlength="100" />
                        <span asp-validation-for="AccountGroupName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Alias</label>
                    <div class="col-md-3">
                        <input asp-for="GroupAlias" class="form-control" maxlength="25" />
                        <span asp-validation-for="GroupAlias" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-warning" onclick="GenerateAlias()">
                            <i class="bi bi-gear-fill me-2" style="color: black;"></i>Auto Generate
                        </button>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Group Type</label>
                    <div class="col-md-6">
                        <select class="form-control" asp-for="GroupType">
                            <option value="">Select</option>
                            <option value="B">Balance Sheet</option>
                            <option value="P">Profit & Loss</option>
                            <option value="T">Trading</option>
                        </select>
                        <span asp-validation-for="GroupType" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <label class="col-sm-2">Nature Of Group</label>
                    <div class="col-md-6">
                        <select class="form-control" asp-for="NatureOfGroup">
                            <option value="">Select</option>
                            <option value="A">Assests</option>
                            <option value="L">Liabilities</option>
                            <option value="I">Income</option>
                            <option value="E">Expenses</option>
                        </select>
                        <span asp-validation-for="NatureOfGroup" class="text-danger"></span>
                    </div>

                </div>




            </div>
            <div class="col-sm-4 show-checkbox-ui-sl-page">
                <div class="col-sm-5">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center form-check form-switch">
                            <label class="form-check-label" for="IsBillingLocation">Show Details Of Report</label>
                            <span>  <input asp-for="PrintDtl" class="form-check-input" role="switch" type="checkbox"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center form-check form-switch">
                            <label class="form-check-label" for="IsBillingLocation">Net Cr/Dr Balance For Reports</label>
                            <span>  <input asp-for="NetCrDrBalanceForRpt" class="form-check-input" role="switch" type="checkbox"></span>
                        </li>

                    </ul>
                </div>
            </div>



        </div>
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/master/accountgroup.js"></script>
    
                }