@model SSRepository.Models.TransactionModel

@{
    ViewData["Title"] = "Contra Voucher";
}
<style>

</style>


<div class="p-3">
    <form id="TranForm" class="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkId" />
        <input type="hidden" id="hdData" value="@ViewBag.Data" />
        <input type="hidden" id="hdControllerName" value="ContraVoucher" />
        <partial name="~/Views/Shared/Voucher/_tranHeader.cshtml" />
        <partial name="~/Views/Shared/Voucher/_tranGrid.cshtml" />
        <partial name="~/Views/Shared/Voucher/_tranFooter.cshtml" />
    </form>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/transaction/Voucher.js?id=@ViewBag.fileverson"></script>

}