@model SSRepository.Models.LocationModel

@{
    ViewData["Title"] = "Stock Location";
    ViewData["bdClass"] = "page";
}
<style>
    tr.tbl-delete, tr.tbl-delete input, tr.tbl-delete td {
        background: red;
    }

    .shelf-tblCatSize input {
        border: none;
    }
</style>
<div class="master-page-ui">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PKLocationID" />
        <div class="row">
            <div class="col-md-8">
                <div class="form-group row">
                    <label class="col-sm-2">Branch<span class="required">*</span> </label>
                    <div class="col-md-6">
                        <select asp-for="FKBranchID" asp-items="@(new SelectList(ViewBag.BranchList,"PkBranchId","BranchName"))" class="form-select" required>
                        </select>
                        <span asp-validation-for="FKBranchID" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Name<span class="required">*</span> </label>
                    <div class="col-md-6">
                        <input asp-for="Location" class="form-control" placeholder="Enter Name" required maxlength="50" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Alias</label>
                    <div class="col-md-3">
                        <input asp-for="Alias" class="form-control" maxlength="10" placeholder="Enter Alias" />
                        <span asp-validation-for="Alias" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <button type="button" onclick="GenerateAlias()" class="btn btn-warning">
                            <i class="bi bi-gear-fill me-2" style="color: black;"></i>Auto Generate

                        </button>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2">Address</label>
                    <div class="col-md-6">
                        <textarea asp-for="Address" class="form-control"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Station / Locality</label>
                    <div class="col-md-3">
                        <select asp-for="FKStationID" class="form-select">
                            <option value="1">Station 01</option>
                        </select>
                        <span asp-validation-for="FKStationID" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <select asp-for="FKLocalityID" class="form-select">
                            <option value="1">Locality  1</option>
                        </select>
                        <span asp-validation-for="FKLocalityID" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2">Pincode / Phone</label>
                    <div class="col-md-3">
                        <input asp-for="Pincode" type="number" class="form-control input-number" maxlength="6" placeholder="Enter Pincode" />
                        <span asp-validation-for="Pincode" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="Phone1" class="form-control input-number" maxlength="10" placeholder="Enter Phone" />
                        <span asp-validation-for="Phone1" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2">Mobile / Email</label>

                    <div class="col-md-3">
                        <input asp-for="Phone2" class="form-control input-number" pattern="Mobile" maxlength="10" placeholder="Enter Mobile" />
                        <span asp-validation-for="Phone2" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="Email" class="form-control" pattern="Email" placeholder="Enter Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Fax / WebSite</label>

                    <div class="col-md-3">
                        <input asp-for="Fax" class="form-control input-number" placeholder="Enter Fax" />
                        <span asp-validation-for="Fax" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="Website" class="form-control" placeholder="Enter WebSite" />
                        <span asp-validation-for="Website" class="text-danger"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Posting Account</label>
                    <div class="col-md-6">
                        <select asp-for="FKAccountID" class="form-select">
                            asp-for="FKAccountID" class="form-select">
                            <option value="2">sdfcsdf</option>
                            <option value="3">zdsa</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">

                    <label class="col-sm-2">&nbsp;</label>
                    <div class="col-md-3">
                        <div class="form-switch d-flex form-switch form-check">
                            <input asp-for="IsBillingLocation" class="form-check-input" type="checkbox">
                            <label class="ms-1">Billing Location</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-switch d-flex form-switch form-check">
                            <input asp-for="IsAllProduct" class="form-check-input" type="checkbox">
                            <label class="ms-1">All Product</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="tabs-ui-fmt mt-2" id="scrollfixheader">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="Usertab-tab" data-bs-toggle="tab" data-bs-target="#Usertab" type="button" role="tab" aria-controls="Usertab" aria-selected="false" fdprocessedid="w66vj" tabindex="-1">User</button>
                            @*    <button class="nav-link" id="Producttab-tab" data-bs-toggle="tab" data-bs-target="#Producttab" type="button" role="tab" aria-controls="Producttab" aria-selected="true">Product</button>
                            *@
                        </div>
                    </nav>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade active show" id="Usertab" role="tabpanel" aria-labelledby="Usertab-tab" tabindex="-1">
                        <div class="row" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                            <div class="col-sm-12 mt-3">
                                <div class="row form-group">
                                    <div class="col-sm-4">
                                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkUserId" }, { "Class", "val-cus-drp" }, { "event", "" },
                                        { "value", "" }, { "ExtraParam", "ExtProperties_TranAlias" }, { "text", "" }, { "uri", "CustomDropDown" } })

                                    </div>
                                    <div class="col-sm-1 ">
                                        <span class="btn btn-success" onclick="AddUser();">
                                            <i class="bi bi-plus-lg"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 default-scroll-grid">
                                <table id="tblUserLoc" class="table border tableheader-fixed">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="md-height">
                                        @{
                                            int AcNo = -1;
                                        }
                                        @if (Model.UserLoc_lst != null)
                                        {
                                            for (int i = 0; i < Model.UserLoc_lst.Count; i++)
                                            {
                                                AcNo++;
                                                <tr index="0">

                                                    <td class="tabel-td-xs">
                                                        <input readonly="readonly" id="UserLoc_lst_@(i)__UserId" name="UserLoc_lst[@i].UserId" type="text" value="@Model.UserLoc_lst[i].UserId" class="form-control border-0">
                                                    </td>

                                                    <td class="tabel-td-xs">
                                                        <input id="UserLoc_lst_@(i)__FKUserID" name="UserLoc_lst[@i].FKUserID" type="hidden" value="@Model.UserLoc_lst[i].FKUserID">
                                                        <input id="UserLoc_lst_@(i)__Mode" name="UserLoc_lst[@i].Mode" type="hidden" value="1">
                                                        <span class="action-icon" onclick="UpdateUserLoc(this,@i,'del')">
                                                            <i class="fa fa-trash"></i>
                                                        </span>
                                                    </td>
                                                </tr>

                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*     <div class="tab-pane fade" id="Producttab" role="tabpanel" aria-labelledby="Producttab-tab" tabindex="-1">
                    <div class="row">
                    <div class="row col-sm-12 form-group">
                    <div class="col-sm-4">

                    <div id="drpListdrpProduct" class="ui-custom-DropDown  " extraparam="" event="" parent="">
                    <input id="drpProduct" name="drpProduct" type="hidden" value="" disabled="disabled">
                    <input id="drpdrpProduct" class="form-control ui-custom-DropDown-input" autocomplete="off" placeholder="" type="text" value="" disabled="disabled">
                    <span class="down"><i class="fas fa-caret-down"></i></span>
                    </div>


                    <input type="hidden" id="hidProdLocIndex">
                    </div>
                    <div class="col-sm-2 d-flex gap-2">
                    <span class="btn btn-success" onclick="AddProd();">
                    <i class="bi bi-plus-lg"></i>
                    </span>
                    <span class="filter-btn">
                    <button type="button" id="btnRptProduct" class=" btn btn-primary" onclick="FilterObject.Product.Show()" disabled="disabled">
                    <i class="bi bi-funnel"></i>
                    </button>
                    </span>
                    </div>
                    </div>
                    <div class="col-sm-6 default-scroll-grid">
                    <table id="tblProdLoc" class="table border tableheader-fixed">
                    <tbody>
                    </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
                    *@
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {

            Common.InputFormat();
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
        }) 
        function GenerateAlias() {
            if ($("#txtalias").val() == "") {
                $.ajax({
                    type: "POST",
                    url: '/Master/Location/GetAlias',
                    data: {},
                    datatype: "json",
                    success: function (res) {
                        if (res != "") {
                            $("#txtalias").val(res);
                        }
                    }
                });
            }

        }

    </script>
    <script>
        function AddUser() {

            var rowCount = $('#tblUserLoc tbody tr').length; 
            var Exists = false;

            var FKUserID = $("#FkUserId").val();
            var UserId = $("#drpFkUserId").val();
            if (UserId != '' && FKUserID>0) {
                $('#tblUserLoc tr').each(function (ind) {
                    if ($("#UserLoc_lst_" + ind + "__FKUserID").val() === FKUserID && $("#UserLoc_lst_" + ind + "__Mode").val() != '2') {
                        alert("Already Exists");
                        Exists = true;
                    }
                });
                if (!Exists) {


                         var html = '<tr index="' + rowCount + '">';
                    html += '<td class="tabel-td-xs">  <input  id="UserLoc_lst_' + rowCount + '__UserId" name="UserLoc_lst[' + rowCount + '].UserId" type="text" value="' + UserId + '" class="form-control border-0"> </td>';
                        html += '<td class="tabel-td-xs">';
                        html += '<input id="UserLoc_lst_' + rowCount + '__Mode" name="UserLoc_lst[' + rowCount + '].Mode" type="hidden" value="0">';
                        html += '<input id="UserLoc_lst_' + rowCount + '__FKUserID" name="UserLoc_lst[' + rowCount + '].FKUserID" type="hidden" value="' + FKUserID + '">';
                        html += '<span class="action-icon" onclick="UpdateUserLoc(this,' + rowCount + ',\'del\')"><i class="fa fa-trash" /></span> </td>';

                        html += '</tr>';

                        $("#tblUserLoc tbody").append(html);
                     
                    $("#drpFkUserId").val('');
                    $("#FkUserId").val('');
                     
                }
            }
            else { alert("Insert User"); }
            // }
            return false;
        }

        function UpdateUserLoc(obj, index, action) {
            //if (action === 'edit') {
            //    $("#hidSizeIndex").val(index);
            //    $("#FklocalityGridId").val($("#UserLoc_lst_" + index + "__FKSizeID").val());
            //    // $("#drpFklocalityGridId").val($("#UserLoc_lst_" + index + "__Size").val());
            //    $("#OpeningBalance").val($("#UserLoc_lst_" + index + "__Size").val());
            //    $('#thDrCr').find("input[value='" + $("#UserLoc_lst_" + index + "__type").val() + "']").prop('checked', true);
            //    $(obj).closest('tr').removeClass('tbl-delete');
            //} else

            if (action === 'del') {
                $(obj).closest('tr').addClass('tbl-delete');
                $("#UserLoc_lst_" + index + "__Mode").val('2');
            }
        }
    </script>

}