@model SSRepository.Models.SeriesModel

@{
    ViewData["Title"] = "Create";
    ViewData["bdClass"] = "page";
}
<style>
    .radios__input {
        height: 20px;
        width: 25px;
    }</style>

<div class="p-3">
    <form asp-action="Create" class=" g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkSeriesId" />

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Series Name</label>
                    <input asp-for="Series" class="form-control" />
                    <span asp-validation-for="Series" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Series No</label>
                    <input asp-for="SeriesNo" class="form-control" />
                    <span asp-validation-for="SeriesNo" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Tran Alias</label>
                    <select asp-for="TranAlias" asp-items="@(new SelectList(ViewBag.TranAliasList,"Value","Text"))" class="form-control">
                    </select>
                    <span asp-validation-for="TranAlias" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Billing Rate</label>
                    <select asp-for="BillingRate" class="form-control">
                        <option value="">Select</option>
                        <option value="MRP">MRP</option>
                        <option value="SaleRate">SaleRate</option>
                        <option value="TradeRate">TradeRate</option>
                        <option value="DistributionRate">DistributionRate</option>
                        <option value="PurchaseRate">PurchaseRate</option>
                    </select>
                    <span asp-validation-for="BillingRate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Location</label>
                    <select asp-for="FKLocationID" asp-items="@(new SelectList(ViewBag.LocationList,"PkLocationID","Location"))" class="form-control">
                    </select>
                    <span asp-validation-for="FKLocationID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">
                        Allow Walk In   <input asp-for="AllowWalkIn" class="radios__input" type="checkbox">
                    </label>

                    <span asp-validation-for="AllowWalkIn" class="text-danger"></span>

                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">
                        Auto Apply Promo
                        <input asp-for="AutoApplyPromo" class="radios__input" type="checkbox">

                    </label>

                    <span asp-validation-for="AutoApplyPromo" class="text-danger"></span>

                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">
                        Round Off
                        <input asp-for="RoundOff" class="radios__input" type="checkbox">

                    </label>

                    <span asp-validation-for="RoundOff" class="text-danger"></span>

                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">
                        Default Qty    <input asp-for="DefaultQty" class="radios__input" type="checkbox">
                    </label>
                    <span asp-validation-for="DefaultQty" class="text-danger"></span>

                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">
                        Allow Zero Rate
                        <input asp-for="AllowZeroRate" class="radios__input" type="checkbox">

                    </label>

                    <span asp-validation-for="AllowZeroRate" class="text-danger"></span>

                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Allow Free Qty
                        <input asp-for="AllowFreeQty" class="radios__input"  type="checkbox" >

                    </label>
                     
                    <span asp-validation-for="AllowFreeQty" class="text-danger"></span>

                </div>
            </div>

        </div>

    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
        })
        UploadImage = (id) => {
            var file = document.querySelector('input[id="file_' + id + '"]').files[0];
            // $("#FileName").val(file.name);
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                //console.log(reader.result);
                $("#" + id).val(reader.result);
                $("#dummyimage_" + id).attr("src", reader.result);
                $("#dummyimage_" + id).show();
                //   $("#myImage").hide();

            };
        }
    </script>
                }