@model SSRepository.Models.SeriesModel

@{
    ViewData["Title"] = "Series";
    ViewData["bdClass"] = "page";
}

<div class="master-page-ui">
    <form asp-action="Create" class=" g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PKID" />
        <div class="row">
            <div class="col-md-7">
                <div class="form-group row">
                    <label class="col-sm-2">Transaction <span class="required">*</span></label>
                    <div class="col-md-6">
                        <select asp-for="TranAlias" asp-items="@(new SelectList(ViewBag.TranAliasList,"Value","Text"))" class="form-select" required>
                        </select>
                        <span asp-validation-for="TranAlias" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Series Name <span class="required">*</span></label>
                    <div class="col-md-6">
                        <input asp-for="Series" class="form-control" required />
                        <span asp-validation-for="Series" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Series No</label>
                    <div class="col-md-6">
                        <input asp-for="SeriesNo" class="form-control" />
                        <span asp-validation-for="SeriesNo" class="text-danger" min="0"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Print Format</label>
                    <div class="col-md-6">
                        <select asp-for="FormatName" class="form-select">
                            <option value="Wholesale">Wholesale</option>
                            <option value="Walking">Walking</option>
                            <option value="short">short</option>
                            <option value="sizewise">sizewise</option>
                        </select>
                        <span asp-validation-for="FormatName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Billing Rate</label>
                    <div class="col-md-6">
                        <select asp-for="BillingRate" class="form-select">
                            <option value="">Select</option>
                            <option value="MRP">MRP</option>
                            <option value="SaleRate">SaleRate</option>
                            <option value="TradeRate">TradeRate</option>
                            <option value="DistributionRate">DistributionRate</option>
                            <option value="PurchaseRate">PurchaseRate</option>
                        </select>
                        <span asp-validation-for="BillingRate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Billing Location</label>
                    <div class="col-md-6">
                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FKLocationID" },{"name","Location"}, { "Class", "val-cus-drp" },
                        { "value", Model.FKLocationID }, { "text", Model.Location }, { "uri", "Location" }, { "required", "required" },{ "placeholder", "Select Location"} })

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Tax Type</label>
                    <div class="col-md-6">
                        <select asp-for="TaxType" class="form-control form-select">
                            <option value="I">Inclusive </option>
                            <option value="E">Exclusive</option>
                        </select>
                        <span asp-validation-for="TaxType" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row" id="div_DocumentType" style="@(Model.TranAlias=="SINV"?"":"display:none")">
                    <label class="col-sm-2">Doc Type</label>
                    <div class="col-md-6">
                        <select asp-for="DocumentType" class="form-control form-Select">
                            <option value="B">B </option>
                            <option value="C">C</option>
                        </select>
                        <span asp-validation-for="DocumentType" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Payment Mode</label>
                    <div class="col-md-6">
                        <select asp-for="PaymentMode" class="form-select">
                            <option value="Cash">Cash</option>
                            <option value="Credit">Credit</option>
                            <option value="Cheque">Cheque</option>
                            <option value="Card">Card</option>
                        </select>
                        <span asp-validation-for="FormatName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 show-checkbox-ui-sl-page">
                <div class="col-sm-5">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center form-check form-switch">
                            <label class="form-check-label" for="AllowWalkIn">Allow Walk In</label>
                            <span>
                                <input asp-for="AllowWalkIn" type="checkbox" class="form-check-input" role="switch" />
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center form-check form-switch">
                            <label class="form-check-label" for="RoundOff">Round Off</label>
                            <span>
                                <input asp-for="RoundOff" type="checkbox" class="form-check-input" role="switch" />
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center form-check form-switch">
                            <label class="form-check-label" for="AutoApplyPromo"> Auto Apply Promo</label>
                            <span>
                                <input asp-for="AutoApplyPromo" type="checkbox" class="form-check-input" role="switch" />
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center form-check form-switch">
                            <label class="form-check-label" for="DefaultQty">Default Qty</label>
                            <span>
                                <input asp-for="DefaultQty" type="checkbox" class="form-check-input" role="switch" />
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center form-check form-switch">
                            <label class="form-check-label" for="AllowZeroRate">Allow Zero Rate</label>
                            <span>
                                <input asp-for="AllowZeroRate" type="checkbox" class="form-check-input" role="switch" />
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center form-check form-switch">
                            <label class="form-check-label" for="AllowZeroRate">Allow Free Qty</label>
                            <span>
                                <input asp-for="AllowFreeQty" type="checkbox" class="form-check-input" role="switch" />
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
            $("#TranAlias").on("change",function(){
                if ($(this).val() == 'SINV') { $("#div_DocumentType").show(); }
                else {
                    $("#DocumentType").val("B");
                   $("#div_DocumentType").hide();
                }
            })
        })
        UploadImage = (id) => {
            var file = document.querySelector('input[id="file_' + id + '"]').files[0];
            // $("#FileName").val(file.name);
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                //console.log(reader.result);
                $("#" + id).val(reader.result);
                $("#dummyimage_" + id).attr("src", reader.result);
                $("#dummyimage_" + id).show();
                //   $("#myImage").hide();

            };
        }
    </script>
}