 
--DECLARE @ProductFilter dbo.Filter
--DECLARE @SaleSeriesFilter dbo.Filter
--DECLARE @PurchaseSeriesFilter dbo.Filter

--EXEC dbo.uspUniqueBarcodeTracking_rpt
--    @Barcode = NULL,
--    @ProductFilter = @ProductFilter,
--    @SaleSeriesFilter = @SaleSeriesFilter,
--    @SaleEntryNoFrom = 0,
--    @SaleEntryNoTo = 0,
--    @SaleDateFrom = null,
--    @SaleDateTo = null,
--    @PurchaseSeriesFilter = @PurchaseSeriesFilter,
--    @PurchaseEntryNoFrom = 0,
--    @PurchaseEntryNoTo = 0,
--    @PurchaseDateFrom = null,
--    @PurchaseDateTo = null;
ALTER PROCEDURE [dbo].[uspUniqueBarcodeTracking_rpt]
(
    @Barcode VARCHAR(50) = NULL,
    @ProductFilter dbo.Filter READONLY,

    -- Sale Filters
    @SaleSeriesFilter dbo.Filter READONLY,
    @SaleEntryNoFrom BIGINT = 0,
    @SaleEntryNoTo BIGINT = 0,
    @SaleDateFrom DATE = NULL,
    @SaleDateTo DATE = NULL,

	  -- Purchase Filters
    @PurchaseSeriesFilter dbo.Filter READONLY,
    @PurchaseEntryNoFrom BIGINT = 0,
    @PurchaseEntryNoTo BIGINT = 0,
    @PurchaseDateFrom DATE = NULL,
    @PurchaseDateTo DATE = NULL,
	@LocationFilter  dbo.[Filter] ReadOnly
)
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH FilteredBarcode AS (
    SELECT b.*
    FROM tblProdQTYBarcode b
    WHERE 
        (@Barcode IS NULL OR b.Barcode = @Barcode)
        
        -- Product filter
        AND (
            NOT EXISTS (SELECT 1 FROM @ProductFilter WHERE PKID > 0)
            OR EXISTS (SELECT 1 FROM @ProductFilter WHERE PKID = b.FkProductId)
        )
        
        
        -- Sale series filter
        AND (
            NOT EXISTS (SELECT 1 FROM @SaleSeriesFilter WHERE PKID > 0)
            OR EXISTS (SELECT 1 FROM @SaleSeriesFilter WHERE PKID = b.TranOutSeriesId)
        )

        -- Purchase series filter
        AND (
            NOT EXISTS (SELECT 1 FROM @PurchaseSeriesFilter WHERE PKID > 0)
            OR EXISTS (SELECT 1 FROM @PurchaseSeriesFilter WHERE PKID = b.TranInSeriesId)
        )
		)
		SELECT 
			b.Barcode,
			p.NameToDisplay AS ProductName,
			lot.Batch AS Batch,

			-- Purchase Info
			dbo.fn_FormatEntryNo(serIn.Series, trnIn.EntryNo) AS PurchaseEntryNo,
			trnIn.EntryDate AS PurchaseDate,
			trnIn.EntryTime AS PurchaseTime,
			locIn.Location AS PurchaseLocation,

			-- Sales Info
			dbo.fn_FormatEntryNo(serOut.Series, trnOut.EntryNo) AS SalesEntryNo,
			trnOut.EntryDate AS SalesDate,
			trnOut.EntryTime AS SalesTime,
			locOut.Location AS SalesLocation,

			-- Current Location
			locNow.Location AS CurrentLocation

		FROM FilteredBarcode b
		LEFT JOIN tblProduct_mas p ON b.FkProductId = p.PkProductId
		LEFT JOIN tblProdLot_dtl lot ON b.FkProductId = lot.FkProductId AND b.FkLotID = lot.PkLotId

		-- Purchase
		LEFT JOIN tblPurchaseInvoice_dtl dtlIn ON b.TranInId = dtlIn.fkId AND b.TranInSeriesId = dtlIn.FKSeriesId AND b.TranInSrNo = dtlIn.SRNO
		LEFT JOIN tblPurchaseInvoice_trn trnIn ON dtlIn.fkId = trnIn.PkId AND dtlIn.FKSeriesId = trnIn.FKSeriesId
		LEFT JOIN tblSeries_mas serIn ON dtlIn.FKSeriesId = serIn.PkSeriesId
		LEFT JOIN tblLocation_mas locIn ON dtlIn.FKLocationID = locIn.PKLocationID

		-- Sales
		LEFT JOIN tblSalesInvoice_dtl dtlOut ON b.TranOutId = dtlOut.fkId AND b.TranOutSeriesId = dtlOut.FKSeriesId AND b.TranOutSrNo = dtlOut.SRNO
		LEFT JOIN tblSalesInvoice_trn trnOut ON dtlOut.fkId = trnOut.PkId AND dtlOut.FKSeriesId = trnOut.FKSeriesId
		LEFT JOIN tblSeries_mas serOut ON dtlOut.FKSeriesId = serOut.PkSeriesId
		LEFT JOIN tblLocation_mas locOut ON dtlOut.FKLocationID = locOut.PKLocationID

		-- Current Location
		LEFT JOIN tblLocation_mas locNow ON b.FKLocationId = locNow.PKLocationID

		WHERE
			(@SaleDateFrom IS NULL OR trnOut.EntryDate >= @SaleDateFrom)
			AND (@SaleDateTo IS NULL OR trnOut.EntryDate <= @SaleDateTo)
			AND (@SaleEntryNoFrom = 0 OR trnOut.EntryNo >= @SaleEntryNoFrom)
			AND (@SaleEntryNoTo = 0 OR trnOut.EntryNo <= @SaleEntryNoTo)

			AND (@PurchaseDateFrom IS NULL OR trnIn.EntryDate >= @PurchaseDateFrom)
			AND (@PurchaseDateTo IS NULL OR trnIn.EntryDate <= @PurchaseDateTo)
			AND (@PurchaseEntryNoFrom = 0 OR trnIn.EntryNo >= @PurchaseEntryNoFrom)
			AND (@PurchaseEntryNoTo = 0 OR trnIn.EntryNo <= @PurchaseEntryNoTo)
			And (case when (Select Count(PKID) From @LocationFilter where PKID=b.FKLocationID)>0 then b.FKLocationID else 0 end)=(case when (Select Count(PKID) From @LocationFilter where PKID>0)>0 then b.FKLocationID else 0 end)
		
		ORDER BY b.Barcode;
END
