 
 ALTER procedure [dbo].[usp_SalesInvoiceById]
( 
	@PkId bigint,
	@FkSeriesId bigint,
	@JsonData nvarchar(max)=null Output,
	@ErrMsg nvarchar(max)=null Output
)
as 
begin
	Set @ErrMsg=''  
	  DECLARE @TempJsonData TABLE (JsonData NVARCHAR(MAX));

		IF OBJECT_ID('tempdb..#UniqIdDetail') IS NOT NULL DROP TABLE #UniqIdDetail;   	 	 	
						 
		Create Table #UniqIdDetail([SrNo] [Bigint],[Barcode] [nvarchar](max))
		
		Insert into #UniqIdDetail(SrNo,Barcode)
		Select dtl.TranOutSrNo as SrNo,dtl.Barcode  from tblProdQTYBarcode as dtl
				 Where TranOutId=@PkId and TranOutSeriesId=@FkSeriesId 
				  
		IF Not EXISTS(Select * from #UniqIdDetail)
		Insert into #UniqIdDetail(SrNo,Barcode)
		select  SrNo,cs.Value from tblSalesInvoice_dtl
		cross apply STRING_SPLIT (barcode, ',') cs
		where   FkId=@PkId and FKSeriesId=@FkSeriesId
				 

	INSERT INTO @TempJsonData (JsonData)
    Select 
        (
		Select 
			 Series.Series+''+Cast(trn.EntryNo as nvarchar(20)) as Inum
			,trn.*,
			--(case when Series.TranAlias='LORD' then loc.Location else vender.Name end) as PartyName,
			--(case when Series.TranAlias='LORD' then loc.Phone1 else vender.Mobile end) as PartyMobile,
			--(case when Series.TranAlias='LORD' then '' else vender.Gstno end) as PartyGSTN,
			--(case when Series.TranAlias='LORD' then loc.Address else vender.Address end) as PartyAddress,
			(case when Series.TranAlias='LORD' then loc.State else vender.StateName end) as PartyStateName, 
			0 as PartyCredit,
			0 as PartyBalance,
			refby.Name as ReferByName,
			salesper.Name as SalesPerName,
			 Series.Series as SeriesName,Series.FKLocationID,Series.BillingRate,
			(
				Select 
				dtl.*,
				Product.NameToDisplay as Product 
				,Product.HSNCode ,brand.BrandName 
				,Product.FKProdCatgId,Product.FkBrandId
				,Product.CodingScheme 
				--,promo.PromotionName
				,case when LEN(TRIM(dtl.PromotionType))=5 then (promo.PromotionName+' | Manually') else promo.PromotionName end as PromotionName
				from tblSalesInvoice_dtl as dtl
				inner join tblProduct_mas as Product on dtl.FkProductId=Product.PkProductId
				left outer join tblBrand_mas as brand on Product.FkBrandId=brand.PkBrandId
				left outer join tblPromotion_mas as promo on dtl.FkPromotionId=promo.PkPromotionId
				Where FkId=trn.PkId and FKSeriesId=trn.FkSeriesId
				FOR JSON PATH			
			) as TranDetails
			,(
				Select 
						branch.* ,bcity.CityName as City
				from tblBranch_mas as branch 
				left outer join
				tblCity_mas as bcity on branch.FkCityId=bcity.PkCityId
				Where branch.PkBranchId=loc.FkBranchId  
				FOR JSON PATH--,WITHOUT_ARRAY_WRAPPER			
			) as BranchDetails  
			,(
				Select * from #UniqIdDetail
				--		dtl.TranOutSrNo as SrNo,dtl.Barcode 
				--from tblProdQTYBarcode as dtl
				-- Where TranOutId=trn.PkId and TranOutSeriesId=trn.FkSeriesId
				FOR JSON PATH			
			) as UniqIdDetails
			,(
				Select 
						eway.*  
				from tblEWayDtl_Lnk as eway  
				Where eway.FKID=trn.PkId And eway.FkSeriesId=trn.FKSeriesId
				FOR JSON PATH--,WITHOUT_ARRAY_WRAPPER			
			) as EWayDetails  
	from tblSalesInvoice_trn as trn
	inner join tblSeries_mas as Series on trn.FKSeriesId=Series.PkSeriesId
	left outer join TblCustomer_Mas as vender on trn.FkPartyId=vender.PkCustomerId
	left outer join  tblLocation_mas as loc on Series.FKLocationID=loc.PKLocationID
	Left join tblReferBy_mas as refby on trn.FKReferById=refby.PkReferById 
	Left join tblEmployee_mas as salesper on trn.FKSalesPerId=salesper.PkEmployeeId 
	Where trn.PkId=@PkId and FKSeriesId=@FkSeriesId	
	FOR JSON PATH
	 );

    -- Get the value from the temporary table into the output parameter
    SELECT @JsonData = JsonData FROM @TempJsonData;

	--Declare @JsonData NVARCHAR(MAX),@ErrMsg NVARCHAR(MAX)
	--exec usp_SalesInvoiceById  @PkId=5,@FkSeriesId=6,@JsonData=@JsonData output,@ErrMsg=@ErrMsg output
	--Select @JsonData
end

