 
ALTER procedure [dbo].[usp_GetProductDetailReturn]
(
	@Barcode  nvarchar(20)='',
	@ProductId bigint=0,
	@FKPartyID bigint=0,
	@FkSalesInvoiceId bigint=0,
	@FKInvoiceSrID bigint=0 
	
)
as 
BEGIN 
		--declare   @TranOutId bigint=0,@TranOutSeriesId bigint=0;
		if @Barcode <> '' 
			Begin
				Select top 1 @ProductId=prd.PkProductId
				--,@TranOutId=a.TranOutId,@TranOutSeriesId=a.TranOutSeriesId
				from tblProdQTYBarcode a
				INNER JOIN  tblProdLot_dtl lot on a.FkLotID=lot.PkLotId and a.FkProductId=lot.FKProductId
				INNER JOIN  tblProduct_mas prd on lot.FKProductId=prd.PkProductId
				Where a.Barcode=@Barcode --and ISNULL(a.TranOutId,'')!='' and ISNULL(a.TranOutSeriesId,'')!='' and ISNULL(a.TranOutSrNo,'')!=''
				And a.TranOutId =@FkSalesInvoiceId ANd a.TranOutSeriesId=@FKInvoiceSrID

			if @ProductId=0
					begin
						Select top 1 @ProductId = dtl.FKProductId from tblSalesInvoice_dtl dtl						
						Inner join tblProdLot_dtl lot on dtl.FkLotId=lot.PkLotId and dtl.FkProductId=lot.FKProductId
					 	INNER JOIN  tblProduct_mas prd on lot.FKProductId=prd.PkProductId
						Where prd.CodingScheme!='Unique' and lot.Barcode = @Barcode 
						And dtl.FkId =@FkSalesInvoiceId ANd dtl.FKSeriesId=@FKInvoiceSrID
					End
			End 

		Select top(1) prd.PkProductId,prd.Product,
		ISNULL(invDtl.MRP,prd.MRP) as MRP,ISNULL(invDtl.SaleRate,prd.SaleRate) as SaleRate,ISNULL(lot.TradeRate,prd.TradeRate) as TradeRate,
		ISNULL(lot.DistributionRate,prd.DistributionRate) as DistributionRate,ISNULL(lot.PurchaseRate,prd.PurchaseRate) as PurchaseRate,
		ISNULL(lot.PurchaseRateUnit,'1') as PurchaseRateUnit,
		ISNULL(lot.PkLotId,0) as PkLotId,invDtl.Color,invDtl.Batch 
		,0 as FkOrderId,0 as FKOrderSrID,0 as OrderSrNo
		,ISNULL(trn.FkPartyId,0) as FkPartyId,trn.PartyName,trn.PartyMobile,trn.PartyAddress ,trn.PartyDob ,trn.PartyMarriageDate 
		,ISNULL(prd.FkBrandId,0) as FkBrandId,ISNULL(prd.FKProdCatgId,0) as FKProdCatgId,ISNULL(prd.CodingScheme,'fixed') as CodingScheme
		,ISNULL(trn.PkId,0) as FKInvoiceID,ISNULL(invDtl.SrNo,0) as InvoiceSrNo,ISNULL(trn.FKSeriesId,0) as FKSeriesId ,c.Series+''+Cast(trn.EntryNo as nvarchar(20)) as FKInvoiceID_Text
		,0 as CurStock
		,barcode.Barcode
		from	tblProduct_mas prd 
		Inner JOIN tblSalesInvoice_dtl invDtl on invDtl.FKProductId=prd.PkProductId and invDtl.FkId=@FkSalesInvoiceId and invDtl.FKSeriesId=@FKInvoiceSrID --and invDtl.Batch=lot.Batch
		Inner JOIN tblSalesInvoice_trn trn on trn.PkId=invDtl.FkId and trn.PkId=@FkSalesInvoiceId and trn.FKSeriesId=@FKInvoiceSrID  
		Inner join  tblSeries_mas as c on trn.FKSeriesId=c.PkSeriesId 
		--INNER To Left Join Because Purchase Case Lot Not found then return blank Table
		Left Outer JOIN tblProdLot_dtl lot on lot.PkLotId=invDtl.FkLotId
		Left Outer JOIN tblProdQTYBarcode barcode on barcode.TranOutId=invDtl.FkId and barcode.TranOutSeriesId=invDtl.FKSeriesId And barcode.TranOutSrNo=invDtl.SrNo
			where prd.PkProductId=@ProductId --and (@lotId=0 or lot.PkLotId=@lotId)
		and (@FKPartyID=0 or trn.FkPartyId=@FKPartyID)
		and (@FkSalesInvoiceId=0 or trn.PkId=@FkSalesInvoiceId)
		and (@FKInvoiceSrID=0 or trn.FKSeriesId=@FKInvoiceSrID)
			
END






