 
ALTER procedure [dbo].[usp_PurchaseStock]
(
	
	@FromDate date,
	@ToDate date,
	@ReportType  nvarchar(50)='S',--S=Summary | M=Month Wise | D=Day Wise | W=Monthly | Q=Quarterly | C=Cumulative 
	@TranAlias  nvarchar(50)='PINV',
	@ProductFilter  dbo.[Filter] ReadOnly, 
	@PartyFilter  dbo.[Filter] ReadOnly,
	@LocationFilter  dbo.[Filter] ReadOnly
)
as 
begin 
	 --Purchase Invoice
	 if @ReportType='S' And @TranAlias='PINV'
	 Begin
			SET DATEFORMAT dmy; Select ROW_NUMBER() over(order by c.Product) as sno, c.Product as ProductName 
			,Sum(a.Qty) as Qty ,Sum(a.FreeQty) as FreeQty,Sum(a.SchemeDisc) as SchemeDisc
			,Sum(a.SchemeDiscAmt) as SchemeDiscAmt,Sum(a.TradeDisc) as TradeDisc,Sum(a.TradeDiscAmt) as TradeDiscAmt
			,Sum(a.LotDisc) as LotDisc,Sum(a.GrossAmt) as GrossAmt,Sum(a.ICRate) as ICRate,Sum(a.ICAmt) as ICAmt
			,Sum(a.SCRate) as SCRate,Sum(a.SCAmt) as SCAmt,Sum(a.NetAmt) as NetAmt
			,Sum((case when a.ICAmt>0 then a.ICAmt else (a.SCAmt*2) end )) as TaxAmt 
		 	from tblPurchaseInvoice_dtl as a
			left outer join  tblPurchaseInvoice_trn as b on a.FkId=b.PkId
			left outer join  tblProduct_mas as c on a.FkProductId=c.PkProductId
			left outer join  tblSeries_mas as d on a.FKSeriesId=d.PkSeriesId 
			where  cast(b.EntryDate as datetime) between cast(@FromDate as datetime) and DATEADD(DAY, 1, cast(@ToDate as datetime))
			And (case when (Select Count(PKID) From @ProductFilter where PKID=a.FkProductId)>0 then a.FkProductId else 0 end)=(case when (Select Count(PKID) From @ProductFilter where PKID>0)>0 then a.FkProductId else 0 end)
		 	And (case when (Select Count(PKID) From @PartyFilter where PKID=b.FkPartyId)>0 then b.FkPartyId else 0 end)=(case when (Select Count(PKID) From @PartyFilter where PKID>0)>0 then b.FkPartyId else 0 end)
		 	And (case when (Select Count(PKID) From @LocationFilter where PKID=d.FKLocationID)>0 then d.FKLocationID else 0 end)=(case when (Select Count(PKID) From @LocationFilter where PKID>0)>0 then d.FKLocationID else 0 end)
			group by a.FkProductId,c.Product
			order by c.Product asc


		End	
	 if @ReportType='M' And @TranAlias='PINV'
	 Begin
			SET DATEFORMAT dmy; Select ROW_NUMBER() over( order by Month(b.EntryDate),Year(b.EntryDate) asc) as sno,  FORMAT(datefromparts(Year(b.EntryDate), Month(b.EntryDate), 1), 'MMM yyyy') As [MonthName]  ,
			Sum(a.Qty) as Qty ,Sum(a.FreeQty) as FreeQty,Sum(a.SchemeDisc) as SchemeDisc
			,Sum(a.SchemeDiscAmt) as SchemeDiscAmt,Sum(a.TradeDisc) as TradeDisc,Sum(a.TradeDiscAmt) as TradeDiscAmt
			,Sum(a.LotDisc) as LotDisc,Sum(a.GrossAmt) as GrossAmt,Sum(a.ICRate) as ICRate,Sum(a.ICAmt) as ICAmt
			,Sum(a.SCRate) as SCRate,Sum(a.SCAmt) as SCAmt,Sum(a.NetAmt) as NetAmt
			,Sum((case when a.ICAmt>0 then a.ICAmt else (a.SCAmt*2) end )) as TaxAmt 
			from tblPurchaseInvoice_dtl as a
			left outer join  tblPurchaseInvoice_trn as b on a.FkId=b.PkId
			left outer join  tblProduct_mas as c on a.FkProductId=c.PkProductId
			left outer join  tblSeries_mas as d on a.FKSeriesId=d.PkSeriesId 
			where  cast(b.EntryDate as datetime) between cast(@FromDate as datetime) and DATEADD(DAY, 1, cast(@ToDate as datetime))
			And (case when (Select Count(PKID) From @ProductFilter where PKID=a.FkProductId)>0 then a.FkProductId else 0 end)=(case when (Select Count(PKID) From @ProductFilter where PKID>0)>0 then a.FkProductId else 0 end)
		 	And (case when (Select Count(PKID) From @PartyFilter where PKID=b.FkPartyId)>0 then b.FkPartyId else 0 end)=(case when (Select Count(PKID) From @PartyFilter where PKID>0)>0 then b.FkPartyId else 0 end)
			And (case when (Select Count(PKID) From @LocationFilter where PKID=d.FKLocationID)>0 then d.FKLocationID else 0 end)=(case when (Select Count(PKID) From @LocationFilter where PKID>0)>0 then d.FKLocationID else 0 end)
			group by Month(b.EntryDate),Year(b.EntryDate)
			order by Month(b.EntryDate),Year(b.EntryDate) asc
		End	
	 if @ReportType='D' And @TranAlias='PINV'
	 Begin
						SET DATEFORMAT dmy; Select  --FORMAT(datefromparts(Year(b.EntryDate), Month(b.EntryDate), 1), 'MMM yyyy') As [MonthName]  ,
			ROW_NUMBER() over(order by cast(b.EntryDate as date)) as sno,
			CONVERT(varchar,cast(b.EntryDate as date),105)  as EntryDate ,
			Sum(a.Qty) as Qty ,Sum(a.FreeQty) as FreeQty,Sum(a.SchemeDisc) as SchemeDisc
			,Sum(a.SchemeDiscAmt) as SchemeDiscAmt,Sum(a.TradeDisc) as TradeDisc,Sum(a.TradeDiscAmt) as TradeDiscAmt
			,Sum(a.LotDisc) as LotDisc,Sum(a.GrossAmt) as GrossAmt,Sum(a.ICRate) as ICRate,Sum(a.ICAmt) as ICAmt
			,Sum(a.SCRate) as SCRate,Sum(a.SCAmt) as SCAmt,Sum(a.NetAmt) as NetAmt
			,Sum((case when a.ICAmt>0 then a.ICAmt else (a.SCAmt*2) end )) as TaxAmt 
			from tblPurchaseInvoice_dtl as a
			left outer join  tblPurchaseInvoice_trn as b on a.FkId=b.PkId
			left outer join  tblProduct_mas as c on a.FkProductId=c.PkProductId
			left outer join  tblSeries_mas as d on a.FKSeriesId=d.PkSeriesId 
			where  cast(b.EntryDate as datetime) between cast(@FromDate as datetime) and DATEADD(DAY, 1, cast(@ToDate as datetime))
			And (case when (Select Count(PKID) From @ProductFilter where PKID=a.FkProductId)>0 then a.FkProductId else 0 end)=(case when (Select Count(PKID) From @ProductFilter where PKID>0)>0 then a.FkProductId else 0 end)
		 	And (case when (Select Count(PKID) From @PartyFilter where PKID=b.FkPartyId)>0 then b.FkPartyId else 0 end)=(case when (Select Count(PKID) From @PartyFilter where PKID>0)>0 then b.FkPartyId else 0 end)
			And (case when (Select Count(PKID) From @LocationFilter where PKID=d.FKLocationID)>0 then d.FKLocationID else 0 end)=(case when (Select Count(PKID) From @LocationFilter where PKID>0)>0 then d.FKLocationID else 0 end)
			group by cast(b.EntryDate as date)
			order by cast(b.EntryDate as date) asc
		End	

	 --Purchase Order
	 if @ReportType='S' And @TranAlias='PORD'
	 Begin
			SET DATEFORMAT dmy; Select ROW_NUMBER() over(order by c.Product) as sno, c.Product as ProductName 
			,Sum(a.Qty) as Qty ,Sum(a.FreeQty) as FreeQty,Sum(a.SchemeDisc) as SchemeDisc
			,Sum(a.SchemeDiscAmt) as SchemeDiscAmt,Sum(a.TradeDisc) as TradeDisc,Sum(a.TradeDiscAmt) as TradeDiscAmt
			,Sum(a.LotDisc) as LotDisc,Sum(a.GrossAmt) as GrossAmt,Sum(a.ICRate) as ICRate,Sum(a.ICAmt) as ICAmt
			,Sum(a.SCRate) as SCRate,Sum(a.SCAmt) as SCAmt,Sum(a.NetAmt) as NetAmt
			,Sum((case when a.ICAmt>0 then a.ICAmt else (a.SCAmt*2) end )) as TaxAmt 
			from tblPurchaseOrder_dtl as a
			left outer join  tblPurchaseOrder_trn as b on a.FkId=b.PkId
			left outer join  tblProduct_mas as c on a.FkProductId=c.PkProductId
			left outer join  tblSeries_mas as d on a.FKSeriesId=d.PkSeriesId 
			where  cast(b.EntryDate as datetime) between cast(@FromDate as datetime) and DATEADD(DAY, 1, cast(@ToDate as datetime))
			And (case when (Select Count(PKID) From @ProductFilter where PKID=a.FkProductId)>0 then a.FkProductId else 0 end)=(case when (Select Count(PKID) From @ProductFilter where PKID>0)>0 then a.FkProductId else 0 end)
		 	And (case when (Select Count(PKID) From @PartyFilter where PKID=b.FkPartyId)>0 then b.FkPartyId else 0 end)=(case when (Select Count(PKID) From @PartyFilter where PKID>0)>0 then b.FkPartyId else 0 end)
			And (case when (Select Count(PKID) From @LocationFilter where PKID=d.FKLocationID)>0 then d.FKLocationID else 0 end)=(case when (Select Count(PKID) From @LocationFilter where PKID>0)>0 then d.FKLocationID else 0 end)
			group by a.FkProductId,c.Product
			order by c.Product asc
		End	
	 if @ReportType='M' And @TranAlias='PORD'
	 Begin
			SET DATEFORMAT dmy; Select ROW_NUMBER() over( order by Month(b.EntryDate),Year(b.EntryDate) asc) as sno,  FORMAT(datefromparts(Year(b.EntryDate), Month(b.EntryDate), 1), 'MMM yyyy') As [MonthName]  ,
			Sum(a.Qty) as Qty ,Sum(a.FreeQty) as FreeQty,Sum(a.SchemeDisc) as SchemeDisc
			,Sum(a.SchemeDiscAmt) as SchemeDiscAmt,Sum(a.TradeDisc) as TradeDisc,Sum(a.TradeDiscAmt) as TradeDiscAmt
			,Sum(a.LotDisc) as LotDisc,Sum(a.GrossAmt) as GrossAmt,Sum(a.ICRate) as ICRate,Sum(a.ICAmt) as ICAmt
			,Sum(a.SCRate) as SCRate,Sum(a.SCAmt) as SCAmt,Sum(a.NetAmt) as NetAmt
			,Sum((case when a.ICAmt>0 then a.ICAmt else (a.SCAmt*2) end )) as TaxAmt 
			from tblPurchaseOrder_dtl as a
			left outer join  tblPurchaseOrder_trn as b on a.FkId=b.PkId
			left outer join  tblProduct_mas as c on a.FkProductId=c.PkProductId
			left outer join  tblSeries_mas as d on a.FKSeriesId=d.PkSeriesId 
			where  cast(b.EntryDate as datetime) between cast(@FromDate as datetime) and DATEADD(DAY, 1, cast(@ToDate as datetime))
			And (case when (Select Count(PKID) From @ProductFilter where PKID=a.FkProductId)>0 then a.FkProductId else 0 end)=(case when (Select Count(PKID) From @ProductFilter where PKID>0)>0 then a.FkProductId else 0 end)
		 	And (case when (Select Count(PKID) From @PartyFilter where PKID=b.FkPartyId)>0 then b.FkPartyId else 0 end)=(case when (Select Count(PKID) From @PartyFilter where PKID>0)>0 then b.FkPartyId else 0 end)
			And (case when (Select Count(PKID) From @LocationFilter where PKID=d.FKLocationID)>0 then d.FKLocationID else 0 end)=(case when (Select Count(PKID) From @LocationFilter where PKID>0)>0 then d.FKLocationID else 0 end)
			group by Month(b.EntryDate),Year(b.EntryDate)
			order by Month(b.EntryDate),Year(b.EntryDate) asc
		End	
	 if @ReportType='D' And @TranAlias='PORD'
	 Begin
						SET DATEFORMAT dmy; Select  --FORMAT(datefromparts(Year(b.EntryDate), Month(b.EntryDate), 1), 'MMM yyyy') As [MonthName]  ,
			ROW_NUMBER() over(order by cast(b.EntryDate as date)) as sno,
			CONVERT(varchar,cast(b.EntryDate as date),105)  as EntryDate ,
			Sum(a.Qty) as Qty ,Sum(a.FreeQty) as FreeQty,Sum(a.SchemeDisc) as SchemeDisc
			,Sum(a.SchemeDiscAmt) as SchemeDiscAmt,Sum(a.TradeDisc) as TradeDisc,Sum(a.TradeDiscAmt) as TradeDiscAmt
			,Sum(a.LotDisc) as LotDisc,Sum(a.GrossAmt) as GrossAmt,Sum(a.ICRate) as ICRate,Sum(a.ICAmt) as ICAmt
			,Sum(a.SCRate) as SCRate,Sum(a.SCAmt) as SCAmt,Sum(a.NetAmt) as NetAmt
			,Sum((case when a.ICAmt>0 then a.ICAmt else (a.SCAmt*2) end )) as TaxAmt 
			from tblPurchaseOrder_dtl as a
			left outer join  tblPurchaseOrder_trn as b on a.FkId=b.PkId
			left outer join  tblProduct_mas as c on a.FkProductId=c.PkProductId
			left outer join  tblSeries_mas as d on a.FKSeriesId=d.PkSeriesId 
			where  cast(b.EntryDate as datetime) between cast(@FromDate as datetime) and DATEADD(DAY, 1, cast(@ToDate as datetime))
			And (case when (Select Count(PKID) From @LocationFilter where PKID=d.FKLocationID)>0 then d.FKLocationID else 0 end)=(case when (Select Count(PKID) From @LocationFilter where PKID>0)>0 then d.FKLocationID else 0 end)
			group by cast(b.EntryDate as date)
			order by cast(b.EntryDate as date) asc
		End	
 

end

