 
 
ALTER procedure [dbo].[usp_VoucherAddUpd]
( 
	@JsonData nvarchar(max)  , 
	@OutParam bigint Output,   
	@ErrMsg nvarchar(max)=null Output,  
	@SeriesNo Bigint=0 Output ,
	@PostingIDRef bigint=0
)
as 
begin	
	 Declare @rc int  ;
	 Declare @PkId bigint, @src int = 0, @FkUserId bigint = 0,@PKSeriesId bigint=0,@TranAlias nvarchar (max); 
	declare @DateModified  datetime2(7) ,@DateCreated datetime2(7) ,@FDate datetime,@TDate datetime ;
	
	ADDRETRY:  
  Begin Try  
   Begin Tran  
   --Exec @rc = sp_getapplock @Resource='usp_VoucherAddUpd', @LockMode='Exclusive', @LockOwner='Transaction', @LockTimeout=12000  
   --    if @rc >= 0 
		 --  BEGIN
			
				SELECT @OutParam=(case when @PostingIDRef>0 then 0 else PkId end ),@PKSeriesId=FKSeriesId,@PostingIDRef=Isnull(@PostingIDRef,0)
				FROM OPENJSON(@JsonData)
				WITH ([PkId] [bigint] , [FKSeriesId] [bigint]  ) as jsondata;
				
				if @OutParam=0 And Not exists (select * from tblVoucher_trn where PKVoucherID = @PostingIDRef and FKSeriesID=@PKSeriesId)
				Begin	
				  
									if (@PostingIDRef=0)
										Begin
											Exec @OutParam=uspGetIDOfSeries @JsonData OutPut,@PKSeriesId,'tblVoucher_trn','PKVoucherID'
											--EXEC @EntryNo = uspSeriesNoGetByLnk @AddData Output,@OutParam,@FKSeriesID,@VchrDate, @EntryNo ,'I','tblVoucher_Trn','PKVoucherID'			
										End
									Else if @PostingIDRef>0
										Begin
											Set @OutParam=@PostingIDRef
										End

						--select @SeriesNo = (SeriesNo+1) from tblSeries_mas where PkSeriesId=@PKSeriesId
						--update tblSeries_mas set SeriesNo=@SeriesNo where PkSeriesId=@PKSeriesId
						select @SeriesNo = Max(EntryNo) from tblVoucher_trn where FKSeriesID=@PKSeriesId
						if ISNULL(@SeriesNo,0)=0
							select @SeriesNo = (SeriesNo+1) from tblSeries_mas where PkSeriesId=@PKSeriesId
						Else 
							select @SeriesNo = (@SeriesNo+1)  

						Insert into tblVoucher_trn(PKVoucherID,FKSeriesId,EntryNo,EntryDate,EntryTime,VoucherNarration,DraftMode,VoucherAmt
,												VoucherAmtType,PrintCount,RefNo,RefDate,TrnStatus,ModifiedDate,CreationDate,FKCreatedByID,FKUserID)
						SELECT @OutParam,FKSeriesId,@SeriesNo,EntryDate,Convert(time,getdate()) EntryTime,Remark,ISNULL(DraftMode, 0),(NetAmt+RoundOfDiff)
						,'',0,GRNo,GRDate,TrnStatus ,Getdate(),Getdate()
											,FKUserId,FKUserId
						FROM OPENJSON(@JsonData)
						WITH (
						[FKSeriesId] [bigint],
						[EntryNo] [bigint],
						[EntryDate] [date],
						[EntryTime] [time](7),
						[FkPartyId] [bigint],
						[GRNo] [nvarchar](100),
						[GRDate] [datetime2],
						[GrossAmt] [decimal](18, 2),
						[SgstAmt] [decimal](18, 2),
						[TaxAmt] [decimal](18, 2),
						[CashDiscount] [decimal](18, 2),
						[CashDiscType] [nchar](1),
						[CashDiscountAmt] [decimal](18, 2),
						[TotalDiscount] [decimal](18, 2),
						[RoundOfDiff] [decimal](18, 2),
						[Shipping] [decimal](18, 2),
						[OtherCharge] [decimal](18, 2),
						[NetAmt] [decimal](18, 2),
						[Cash] [bit],
						[CashAmt] [decimal](18, 2),
						[Credit] [bit],
						[CreditAmt] [decimal](18, 2),
						[CreditDate] [date],
						[Cheque] [bit] ,
						[ChequeAmt] [decimal](18, 2) ,
						[ChequeNo] [nvarchar](30),
						[ChequeDate] [date],
						[FKBankChequeID] [bigint],
						[Remark] [nvarchar](max),
						[InvStatus] [nchar](1),
						[DraftMode] [bit],
						[TrnStatus] [nchar](10),
						--[DateModified] [datetime2](7),
						--[DateCreated] [datetime2](7),
						[Src] [int],
						[FKUserId] [bigint]
						) as jsondata;
						
						--Select @OutParam=@@identity
						set @JsonData=JSON_MODIFY(@JsonData,'$.PkId', @OutParam);
						 
				End
				Else
				Begin
						--Select --@src=Src,
						--@FkUserId=FKUserId from tblVoucher_trn where PkId=@OutParam;
						
						UPDATE [dbo].[tblVoucher_trn]  
						SET EntryNo=Trn.EntryNo		,
							EntryDate=Trn.EntryDate		  ,
							--EntryTime=Trn.EntryTime		  ,
							--VoucherNarration=Trn.VoucherNarration ,
							DraftMode=ISNULL(Trn.DraftMode, 0)		  ,
							VoucherAmt=(Trn.NetAmt+Trn.RoundOfDiff) 	--	  ,
							--VoucherAmtType=Trn.VoucherAmtType	  ,
							--PrintCount=Trn.PrintCount		  
						FROM OPENJSON(@JsonData)
						WITH (  
						[PkId] [bigint] ,
						[FKSeriesId] [bigint] ,
						[EntryNo] [bigint],
						[EntryDate] [date],
						[EntryTime] [time](7),
						[FkPartyId] [bigint],
						[GRNo] [nvarchar](100),
						[GRDate] [datetime2],
						[GrossAmt] [decimal](18, 2),
						[SgstAmt] [decimal](18, 2),
						[TaxAmt] [decimal](18, 2),
						[CashDiscount] [decimal](18, 2),
						[CashDiscType] [nchar](1),
						[CashDiscountAmt] [decimal](18, 2),
						[TotalDiscount] [decimal](18, 2),
						[RoundOfDiff] [decimal](18, 2),
						[Shipping] [decimal](18, 2),
						[OtherCharge] [decimal](18, 2),
						[NetAmt] [decimal](18, 2),
						[Cash] [bit],
						[CashAmt] [decimal](18, 2),
						[Credit] [bit],
						[CreditAmt] [decimal](18, 2),
						[CreditDate] [date],
						[Cheque] [bit] ,
						[ChequeAmt] [decimal](18, 2) ,
						[ChequeNo] [nvarchar](30),
						[ChequeDate] [date],
						[FKBankChequeID] [bigint],
						[Remark] [nvarchar](max),
						[InvStatus] [nchar](1),
						[DraftMode] [bit],
						[TrnStatus] [nchar](10),
						--[DateModified] [datetime2](7),
						--[DateCreated] [datetime2](7),
						[Src] [int],
						[FKUserId] [bigint]
						) AS Trn  
						Where tblVoucher_trn.PKVoucherID=Trn.PkId  
						And tblVoucher_trn.FKSeriesId=Trn.FKSeriesId 
						Set @ErrMsg=''
				End 
				 
				 
			   exec usp_VoucherDetailAddUpd  @JsonData 
		   --END
	   --ELSE
		  -- BEGIN
				--Set @Outparam=0  
			 --  Set @ErrMsg='ServerBusy'  
		  -- END
 
   Commit Tran   
 End Try   
 Begin Catch   
  Declare @LogID bigint   
  Set @ErrMsg=ERROR_Message()  
     print @ErrMsg
  Rollback Tran  
  
  IF ERROR_NUMBER() = 1205  
  BEGIN  
   WAITFOR DELAY '00:00:00.10'  
   GOTO ADDRETRY  
  END  
  ELSE  
  BEGIN  
   set @LogID=@PkId;--uspGetIDOfSeries,,'tblSwilError_Log','PKID'  
 Insert Into tblError_Log Select @LogID,ERROR_Message(),GetDate(),GetDate(),@src,@FkUserId 
  END  
  Set @Outparam=0  
 End Catch  
	  
end

