 
ALTER FUNCTION [dbo].[fn_FormatEntryNo]
(
    @Series NVARCHAR(50),
    @EntryNo BIGINT
)
RETURNS NVARCHAR(100)
AS
BEGIN
    DECLARE @Formatted NVARCHAR(100)
    SET @Formatted = 
        CASE 
            WHEN @Series IS NOT NULL AND @EntryNo IS NOT NULL THEN @Series + '' + CAST(@EntryNo AS VARCHAR(20))
            WHEN @Series IS NOT NULL THEN @Series
            WHEN @EntryNo IS NOT NULL THEN CAST(@EntryNo AS VARCHAR(20))
            ELSE ''
        END
    RETURN @Formatted
END