ALTER PROCEDURE [dbo].[usp_LocationRequestList]
(
    @FromDate date,
    @ToDate date,
    @SeriesFilter  nvarchar(50) = '',
    @DocumentType  nvarchar(50) = '',
    @LocationFilter dbo.[Filter] READONLY
)
AS
BEGIN
    SET DATEFORMAT dmy;

    DECLARE @cols NVARCHAR(MAX) = '';

    -- Build column list dynamically excluding PartyName, PartyMobile, PartyAddress
    SELECT @cols = STRING_AGG('a.' + QUOTENAME(name), ',')
    FROM sys.columns
    WHERE object_id = OBJECT_ID('tblSalesOrder_trn')
      AND name NOT IN ('PartyName','PartyMobile','PartyAddress');

    DECLARE @sql NVARCHAR(MAX) = '
    SELECT 
        ROW_NUMBER() OVER (ORDER BY a.EntryDate) AS sno,
        CONVERT(varchar, a.EntryDate, 105) AS Entrydt,
        c.Series + '''' + CAST(a.EntryNo AS nvarchar(20)) AS Inum,
        l.PKLocationID AS FkPartyId,
        ' + @cols + ',
        CONVERT(varchar, a.OrderScheduleDate, 105) AS OrderScheduleDt,
        l.Location  AS PartyName,
        l.Phone1    AS PartyMobile,
        l.Address   AS PartyAddress,
        CASE 
            WHEN a.TrnStatus = ''I'' THEN ''Invoice''
            WHEN a.TrnStatus = ''C'' THEN ''Close''
            ELSE ''Pending''
        END AS TranStatus
    FROM tblSalesOrder_trn a
    LEFT JOIN tblSeries_mas c ON a.FKSeriesId = c.PkSeriesId
    LEFT JOIN tblLocation_mas l ON c.FKLocationID = l.PKLocationID
    WHERE CAST(a.EntryDate AS datetime) 
          BETWEEN CAST(@FromDate AS datetime) 
              AND DATEADD(DAY, 1, CAST(@ToDate AS datetime))
      AND c.TranAlias = @SeriesFilter
      AND c.DocumentType = @DocumentType
      AND (CASE WHEN (SELECT COUNT(PKID) 
                      FROM @LocationFilter 
                      WHERE PKID = a.FkPartyId) > 0 
                THEN a.FkPartyId ELSE 0 END)
          = (CASE WHEN (SELECT COUNT(PKID) 
                        FROM @LocationFilter 
                        WHERE PKID > 0) > 0 
                   THEN a.FkPartyId ELSE 0 END)
    ORDER BY a.EntryDate;';

    EXEC sp_executesql @sql,
        N'@FromDate date, @ToDate date, @SeriesFilter nvarchar(50), @DocumentType nvarchar(50), @LocationFilter dbo.Filter READONLY',
        @FromDate, @ToDate, @SeriesFilter, @DocumentType, @LocationFilter;


			--Select ROW_NUMBER() over(order by a.EntryDate) as sno,
		--	CONVERT(varchar,a.EntryDate,105)  as Entrydt  
		--	,c.Series+''+Cast(a.EntryNo as nvarchar(20)) as Inum
		--	,l.PKLocationID as FkPartyId
		--	,a.* 
		--	,CONVERT(varchar,a.OrderScheduleDate,105)  as OrderScheduleDt  
		--	,l.Location  as PartyName
		--	,l.Phone1  as PartyMobile
		--	,l.Address   as PartyAddress
		--	,(case when a.TrnStatus ='I' then 'Invoice'
		--		  When a.TrnStatus ='C' then 'Close'
		--		  Else 'Pending'
		--	end) as TranStatus
		--	from tblSalesOrder_trn as a
		--	left outer join  tblSeries_mas as c on a.FKSeriesId=c.PkSeriesId 
		--	left outer join  tblLocation_mas as l on c.FKLocationID=l.PKLocationID
		--	where  cast(a.EntryDate as datetime) between cast(@FromDate as datetime) and DATEADD(DAY, 1, cast(@ToDate as datetime))
		--	and c.TranAlias=@SeriesFilter and c.DocumentType=@DocumentType
		--	And (case when (Select Count(PKID) From @LocationFilter where PKID=a.FkPartyId)>0 then a.FkPartyId else 0 end)=(case when (Select Count(PKID) From @LocationFilter where PKID>0)>0 then a.FkPartyId else 0 end)
		--	Order by a.EntryDate
END
