 
 
ALTER procedure [dbo].[usp_VoucherList]
(
	
	@FromDate date ,
	@ToDate date ,
	@SeriesFilter  nvarchar(50)='',
	@DocumentType  nvarchar(50)='',
	@LocationFilter  dbo.[Filter] ReadOnly 
)
as 
begin 
	 
		 SET DATEFORMAT dmy; Select ROW_NUMBER() over(order by a.EntryDate) as sno,
		PkVoucherId as PkId,
			CONVERT(varchar,a.EntryDate,105)  as Entrydt  
			,c.Series+''+Cast(a.EntryNo as nvarchar(20)) as Inum
			,a.*
			,c.Series
		 	from tblVoucher_trn as a
		 	left outer join  tblSeries_mas as c on a.FKSeriesId=c.PkSeriesId 
			where  cast(a.EntryDate as datetime) between cast(@FromDate as datetime) and DATEADD(DAY, 1, cast(@ToDate as datetime))
				and c.TranAlias=@SeriesFilter and c.DocumentType=@DocumentType 
			 And (case when (Select Count(PKID) From @LocationFilter where PKID=c.FKLocationID)>0 then c.FKLocationID else 0 end)=(case when (Select Count(PKID) From @LocationFilter where PKID>0)>0 then c.FKLocationID else 0 end)
		Order by a.EntryDate
			
	 
end

