 
Create procedure [dbo].[usp_WalkingCustomer]
(
	
	@FromDate date,
	@ToDate date,
	@LocationFilter  dbo.[Filter] ReadOnly
)
as 
begin 
	 SET DATEFORMAT dmy;

			SELECT 
				ROW_NUMBER() OVER (ORDER BY a.PartyName) AS sno,
				a.PartyName,
				a.PartyMobile,
				COUNT(*) AS NoOfBill,
				SUM(a.NetAmt) AS TotalBillAmt,
				SUM(ISNULL(b.TotalQty, 0)) AS TotalProductQty
			FROM tblSalesInvoice_trn AS a WITH (NOLOCK)
			LEFT JOIN tblSeries_mas AS d WITH (NOLOCK) 
				ON a.FKSeriesId = d.PkSeriesId
			OUTER APPLY (
				SELECT SUM(ISNULL(dt.Qty, 0)) AS TotalQty
				FROM tblSalesInvoice_dtl AS dt WITH (NOLOCK)
				WHERE dt.FkId = a.PkId
			) AS b
			WHERE 
				d.TranAlias = 'SINV' 
				AND d.DocumentType = 'C'
				And cast(a.EntryDate as datetime) between cast(@FromDate as datetime) and DATEADD(DAY, 1, cast(@ToDate as datetime))
				And (case when (Select Count(PKID) From @LocationFilter where PKID=d.FKLocationID)>0 then d.FKLocationID else 0 end)=(case when (Select Count(PKID) From @LocationFilter where PKID>0)>0 then d.FKLocationID else 0 end)
					GROUP BY 
				a.PartyMobile,
				a.PartyName
			ORDER BY 
				a.PartyName ASC;

 	

end

