@model SSRepository.Models.TransactionModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="hdTranType" value="Sales" />


<div class="row" style="margin-right:0px;margin-left: -4.5px;">
    <div class="p-2" style="flex: 0 0 95%;max-width: 96%;">
        <form class="row g-3 form" id="loginform1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PkId" />
            <input type="hidden" id="hdData" value="@ViewBag.Data" />
            <input type="hidden" id="hdControllerName" value="SalesChallan" />
            <partial name="~/Views/Shared/Transactions/_tranHeader.cshtml" />
            <partial name="~/Views/Shared/Transactions/_tranGrid.cshtml" />
            <partial name="~/Views/Shared/Transactions/_tranFooter.cshtml" />
        </form>
    </div>
    <partial name="~/Views/Shared/Transactions/_tranRight.cshtml" />
</div>

 
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/transaction/transaction.js"></script>
   
}