@{
    ViewData["Title"] = "Sales Challan";
    ViewData["bdClass"] = "browser";
}
<div class="p-1">
    <div class="form-group row filter m-0 p-2 border-bottom">
            <div class="col-md-2">
                <input name="FDate" type="date" id="FDate" class="form-control" maxlength="10" placeholder="From Date*" required="" title="From Date*">
                <span class="field-validation-valid text-danger" data-valmsg-for="FDate"></span>
            </div>
            <div class="col-md-2">
                <input name="TDate" type="date" id="TDate" class="form-control" maxlength="10" placeholder="To Date*" required="" title="To Date*">
                <span class="field-validation-valid text-danger" data-valmsg-for="TDate"></span>
            </div>
            <div class="col-md-8 text-right">
                <button class="btn btn-outline-info" onclick="ShowFilter('Location')"><i class="bi bi-funnel"></i></button>
            @if (ViewBag.IsBrowse)
            {
                <button class="btn btn-info" id="btnView" onclick="View()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View ( Alt + V )"><i class="bi bi-send"></i> &nbsp;View</button>
            }
        </div>
        </div>

        <partial name="~/Views/Shared/partial/_Grid.cshtml" />
</div>

@section Scripts {
    <script src="~/js/report/report.js"></script> 
    <script src="~/js/master/browser.js"></script>
    <script>
        $(document).ready(function () {
            IdProperty = "PkId";
            GridHeight = "85vh"
            var dt = new Date;
            document.getElementById("FDate").valueAsDate = new Date();
            document.getElementById("TDate").valueAsDate = new Date();
            View();
        });
    </script>
}
