body {
    font-family: 'Nunito', sans-serif;
}

.pagetitle {
    color: red;
    font-weight: 700;
    height: 100%;
    font-size: 19px;
    border: none;
    line-height: 38px;
    padding: 0px 12px;
    text-align: center;
}

.browser .f-list {
    display: block !important;
}
.page .f-ctrl {
    display: block !important;
}

.btn-create {
    height: 100%;
    font-size: 15px;
    line-height: 34px;
    color: #f06995;
    border: none;
    line-height: 40px;
    background: none;
    font-weight: 500;
    padding: 0px 12px;
}

    .btn-create:hover {
        color: #f06995;
        text-decoration: none;
    }

.f-ctrl {
    color: #f06995;
}

.f-year, .f-ctrl, .f-list {
    padding: 0px 7px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 41px;
    border-right: solid 1px #d8d8d8;
}

.user-menu {
    padding-left: 10px;
}

.filter .form-control {
    height: 37px;
    line-height: 1;
    padding: 0px;
    border-radius: 0;
    border: none !important;
    border-bottom: solid 1px #ced4da !important;
    box-shadow: inherit;
    font-family: 'Roboto', sans-serif !important;
}
form .form-control {
    height: 25px;
    line-height: 1;
    padding: 0px;
    border-radius: 0;
    border: none !important;
    border-bottom: solid 1px #ced4da !important;
    box-shadow: inherit;
    font-family: 'Roboto', sans-serif !important;
}

label {
    display: inline-block;
    margin-bottom: 0;
    color: #ce07c1;
    text-transform: uppercase;
    font-size: 12px;
}

.sdbc {
    color: red;
}


.cell-title {
    font-weight: bold;
}

#contextMenu {
    background: #e1efc7;
    border: 1px solid gray;
    padding: 2px;
    display: none;
    min-width: 100px;
    -moz-box-shadow: 2px 2px 2px silver;
    -webkit-box-shadow: 2px 2px 2px silver;
    z-index: 99999;
}

#contextMenu li {
    padding: 4px 4px 4px 14px;
    list-style: none;
    cursor: pointer;
    background: url("../images/arrow_right_peppermint.png") no-repeat center left;
}

#contextMenu li:hover {
    background-color: white;
}

.slick-header-column {
    border-top: 1px solid #d3d3d3;
}
    .slick-viewport {
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}


label {
    display: inline-block;
    margin-bottom: 0;
    color: #ce07c1;
    text-transform: uppercase;
    font-size: 12px;
}

.text-danger {
    font-size: 10px;
    font-weight: 800;
}
.img-avatar {
    position: absolute;
    left: 80%;
    top: 12px;
}
.cusdropdown-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
}
/*Dropdown*/
.cusdropdown {
    width: 100%;
}

.highlight-box .form-control, .highlight-box input {
    font-size: 17px;
    font-weight: 600;
}

/*Transaction Header Detail*/
.collapes-icon {
    width: 30px;
    height: 30px;
    color: #fff;
    background: #2dafff;
    position: absolute;
    right: 8px;
    top: 3px;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
/*Dropdown Css*/

.grid-dropdown {
    width: 600px;
    position: absolute;
    margin: 0px;
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 12%);
    padding-top: 0px;
    background: #fff;
}



.cusdrp-popup {
    z-index: 9999;
}

.grid-dropdown ul {
    width: 100%;
    display: block;
    padding: 0px;
}

.grid-dropdown li a thead {
}

.cusdropdown .close-text {
    right: 27px;
    top: 7px;
    top: 1px;
    background: #fff;
    line-height: 28px;
    padding: 0px 3px;
}

.drp-not-found {
    text-align: center;
    display: block;
    line-height: 184px;
    font-size: 31px;
    color: red;
}

.grid-dropdown .drp-not-found {
    line-height: inherit;
    margin-top: 13% !important;
}
/*.cusdropdown input {
        padding-right: 24px;
    }*/
.grid-dropdown li a, .grid-dropdown li, .grid-dropdown.open li a {
    border: none;
    padding: 0px;
    margin: 0px;
}

.grid-dropdown li {
    position: relative;
    list-style: none;
}

    .grid-dropdown li a {
        min-width: 100%;
        float: left;
        width: auto;
        text-decoration: none;
    }

        .grid-dropdown li a thead {
            display: block;
            position: relative;
            z-index: 999;
        }


            .grid-dropdown li a thead tr {
                background: #fff;
            }

        .grid-dropdown li a tbody {
            display: block;
        }

        .grid-dropdown li a tr {
            padding: 0px 5px;
            border-bottom: solid 1px #efeff6;
            min-width: 100%;
            width: auto;
            float: left;
        }


.deleted-entryno {
    background: #ffecec;
    opacity: 0.4;
    cursor: not-allowed;
}

    .deleted-entryno td {
        text-decoration: line-through;
        color: red !important;
        font-weight: 600 !important;
    }

.tran-dtl-grdbtn {
    width: 100%;
    height: 30px;
}

.grid-dropdown li a table {
    background: none;
    display: block;
}

.adj-inv-list {
    min-height: 400px;
}

.grid-dropdown li a:focus {
    background: #4385f4;
}

    .grid-dropdown li a:focus tr {
        border: none;
    }

    .grid-dropdown li a:focus td {
        color: #fff;
    }

.grid-dropdown table thead {
    display: block;
}

.grid-dropdown table th {
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
    background: #343a40;
}

.grid-dropdown table td {
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.grid-dropdown table th, .grid-dropdown table td {
    min-width: 160px;
    max-width: 160px;
    padding: 3px 8px;
    overflow: hidden;
}

    .grid-dropdown table th:nth-child(2), .grid-dropdown table td:nth-child(2) {
        padding-left: 20px;
    }


.grid-dropdown:after {
    border: 5px solid #d7e0e5;
    border-radius: 100%;
    border-top: 5px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    content: "";
    left: 45%;
    top: 8%;
    z-index: 2;
    display: none;
}


#trtxtfields .cusdropdown-icon {
    right: 7px;
    top: 0px;
    line-height: 30px;
}






/* width */
.grid-dropdown::-webkit-scrollbar, .grid-dropdown ul::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
.grid-dropdown::-webkit-scrollbar-track, .grid-dropdown ul::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
.grid-dropdown::-webkit-scrollbar-thumb, .grid-dropdown ul::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

    /* Handle on hover */
    .grid-dropdown::-webkit-scrollbar-thumb:hover, .grid-dropdown ul::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.Convertbtnforinvoice {
    font-size: 14px;
    width: fit-content;
    height: fit-content;
}
