body {
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: .8rem;
    font-weight: 400;
}

* {
    scrollbar-width: thin !important;
    --scrollbar-color-thumb: #5a6f8d80 !important;
    --scrollbar-color-track: #eaf1fb !important;
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track) !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.pagetitle {
    height: 100%;
    font-size: 20px;
    border: none;
    padding: 5px 0px 0px 0px;
}

.page-context .dropdown-item:hover {
    background: #0d6efd !important;
    color: #fff !important;
}

.page-context .dropdown-item {
    font-weight: 400;
    font-size: 13px;
    padding: 7px 10px;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
}
.page-context .btn {
    padding: .375rem .3rem;
}

.page-context .dropdown-item i {
    margin-right: 8px;
    display: inline-block;
}

.page-context .dropdown-menu {
    -webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 11px 4px rgb(0 0 0 / 8%);
    padding: 10px 10px;
}

.dropdown-toggle:after {
    display: none;
    font-size: 8px;
    content: "\F282";
    font-family: 'bootstrap-icons' !important;
    background: none;
    border: none;
}

[class*=sidebar-dark-] .nav-sidebar > .nav-item > .nav-treeview {
    background: 0 0;
    padding-left: 5px !important;
}

.nav-sidebar .menu-open > .nav-treeview {
    padding-left: 14px !important;
}


.browser .f-list {
    display: block !important;
}

.page .f-ctrl, .Tran .f-ctrl {
    display: block !important;
}

.btn-create {
    height: 100%;
    font-size: 15px;
    line-height: 34px;
    color: #f06995;
    border: none;
    line-height: 40px;
    background: none;
    font-weight: 500;
    padding: 0px 12px;
}

    .btn-create:hover {
        color: #f06995;
        text-decoration: none;
    }

.f-ctrl {
    color: #f06995;
}

.f-year {
    display: flex;
    align-items: center;
}

.f-year, .f-ctrl, .f-list {
    padding: 4px 7px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-right: solid 1px #d8d8d8;
}


.user-menu {
    padding-left: 10px;
}

.form-group .form-control, .form-group .form-select {
    height: 30px;
    font-size: 13px;
    padding: .275rem .3rem .275rem .3rem;
}
.form-group textarea.form-control {
    height: 55px;
}

.form-group .form-control:focus, .form-group .form-select:focus {
    box-shadow: none !important;
    border: 1px solid #ced4da !important;
}

.btn {
    height: 30px;
    font-size: 12px;
}

.form-group label {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500 !important;
    color: #303b4c;
}


.form-group .form-check {
    padding-left: 2.25rem;
}

.sdbc {
    color: red;
}

#contextMenu {
    background: #e1efc7;
    border: 1px solid gray;
    padding: 2px;
    display: none;
    min-width: 100px;
    -moz-box-shadow: 2px 2px 2px silver;
    -webkit-box-shadow: 2px 2px 2px silver;
    z-index: 99999;
}

    #contextMenu li {
        padding: 4px 4px 4px 14px;
        list-style: none;
        cursor: pointer;
        background: url("../images/arrow_right_peppermint.png") no-repeat center left;
    }

        #contextMenu li:hover {
            background-color: white;
        }


.slick-grid {
    padding: 0px;
    border: 1px solid #d3d3d3;
}






.text-danger {
    font-size: 10px;
    font-weight: 800;
}

.img-avatar {
    position: absolute;
    left: 80%;
    top: 12px;
}

.cusdropdown-icon {
    position: absolute;
    right: 9px;
    cursor: pointer;
    top: 5px;
}
/*Dropdown*/
.cusdropdown {
    width: 100%;
}

.highlight-box .form-control, .highlight-box input {
    font-size: 17px;
    font-weight: 600;
}

/*Transaction Header Detail*/
.collapes-icon {
    width: 30px;
    height: 30px;
    color: #fff;
    background: #2dafff;
    position: absolute;
    right: 8px;
    top: 3px;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
/*Dropdown Css*/

.grid-dropdown {
    min-width: 300px;
    max-width: 600px;
    position: absolute;
    margin: 0px;
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 12%);
    padding-top: 0px;
    background: #fff;
}



.cusdrp-popup {
    z-index: 9999;
}

.grid-dropdown ul {
    width: 100%;
    display: block;
    padding: 0px;
}

.grid-dropdown li a thead {
}

.cusdropdown .close-text {
    right: 27px;
    top: 7px;
    top: 1px;
    background: #fff;
    line-height: 28px;
    padding: 0px 3px;
}

.drp-not-found {
    text-align: center;
    display: block;
    line-height: 184px;
    font-size: 31px;
    color: red;
}

.grid-dropdown .drp-not-found {
    line-height: inherit;
    margin-top: 13% !important;
}
/*.cusdropdown input {
        padding-right: 24px;
    }*/
.grid-dropdown li a, .grid-dropdown li, .grid-dropdown.open li a {
    border: none;
    padding: 0px;
    margin: 0px;
}

.grid-dropdown li {
    position: relative;
    list-style: none;
}

    .grid-dropdown li a {
        min-width: 100%;
        float: left;
        width: auto;
        text-decoration: none;
    }

        .grid-dropdown li a thead {
            display: block;
            position: relative;
            z-index: 999;
        }


            .grid-dropdown li a thead tr {
                background: #fff;
            }

        .grid-dropdown li a tbody {
            display: block;
        }

        .grid-dropdown li a tr {
            padding: 0px 5px;
            border-bottom: solid 1px #efeff6;
            min-width: 100%;
            width: auto;
            float: left;
        }


.deleted-entryno {
    background: #ffecec;
    opacity: 0.4;
    cursor: not-allowed;
}

    .deleted-entryno td {
        text-decoration: line-through;
        color: red !important;
        font-weight: 600 !important;
    }

.tran-dtl-grdbtn {
    width: 100%;
    height: 30px;
}

.grid-dropdown li a table {
    background: none;
    display: block;
}

.adj-inv-list {
    min-height: 400px;
}

.grid-dropdown li a:focus {
    background: #4385f4;
}

    .grid-dropdown li a:focus tr {
        border: none;
    }

    .grid-dropdown li a:focus td {
        color: #fff;
    }

.grid-dropdown table thead {
    display: block;
}

.grid-dropdown table th {
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
    background: #343a40;
}

.grid-dropdown table td {
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.grid-dropdown table th, .grid-dropdown table td {
    min-width: 160px;
    max-width: 160px;
    padding: 3px 8px;
    overflow: hidden;
}

    .grid-dropdown table th:nth-child(2), .grid-dropdown table td:nth-child(2) {
        padding-left: 20px;
    }


.grid-dropdown:after {
    border: 5px solid #d7e0e5;
    border-radius: 100%;
    border-top: 5px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    content: "";
    left: 45%;
    top: 8%;
    z-index: 2;
    display: none;
}


#trtxtfields .cusdropdown-icon {
    right: 7px;
    top: 0px;
    line-height: 30px;
}






/* width */
.grid-dropdown::-webkit-scrollbar, .grid-dropdown ul::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
.grid-dropdown::-webkit-scrollbar-track, .grid-dropdown ul::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
.grid-dropdown::-webkit-scrollbar-thumb, .grid-dropdown ul::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

    /* Handle on hover */
    .grid-dropdown::-webkit-scrollbar-thumb:hover, .grid-dropdown ul::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.Convertbtnforinvoice {
    font-size: 14px;
    width: fit-content;
    height: fit-content;
}



.Editor_Slick_custdropdown::-webkit-scrollbar {
    width: 0px;
    height: 8px;
}


.Editor_Slick_custdropdown::-webkit-scrollbar-track {
    background: #fff;
}


.Editor_Slick_custdropdown::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.Editor_Slick_custdropdown ul {
    padding: 0px;
    margin-bottom: 0px;
}

.Editor_Slick_custdropdown li::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}


.Editor_Slick_custdropdown li::-webkit-scrollbar-track {
    background: #fff;
}


.Editor_Slick_custdropdown li::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.Editor_Slick_custdropdown table th, .Editor_Slick_custdropdown table td {
    min-width: 160px;
    max-width: 160px;
    padding: 3px 8px;
    overflow: hidden;
}

.Editor_Slick_custdropdown table th {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    background: #36b7b3 !important;
}

.Editor_Slick_custdropdown table td {
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.Editor_Slick_custdropdown table thead {
    z-index: 999;
    position: relative;
}

.Editor_Slick_custdropdown li a:focus {
    background: #4385f4;
}

.Editor_Slick_custdropdown li a {
    min-width: 100%;
    float: left;
    width: auto;
    text-decoration: none;
}

.Editor_Slick_custdropdown_item {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    position: relative;
}

.Editor_Slick_custdropdown_head {
    position: relative;
    list-style: none;
}


.Editor_Slick_custdropdown_item:focus {
    color: #fff;
    text-decoration: none;
    background: #4385f4;
}

.Editor_Slick_custdropdown_item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.master-page-ui {
    padding:.75rem
}


.master-offcanvas {
    width: calc(100% - 44%) !important;
    border-color: #9ac2fa !important;
    transition: inherit !important;
}

    .master-offcanvas .offcanvas-header {
        justify-content: space-between;
        padding: 12px 15px;
    }

    .master-offcanvas .offcanvas-title {
        font-size: 17px;
        /* font-weight: 100; */
        color: #2c3746;
        width: 500px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .master-offcanvas .canvas-header-right {
        display: flex;
        align-items: center;
        gap: 8px;
    }

hr {
    border-top: 1px solid #6c757d;
}


.right-header-bar {
    overflow: visible;
    width: 50px;
    background: #f4f7fd;
    border-left: solid 1.5px #3a46552e;
    height: calc(100vh - 45px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 99;
}

.tran-content {
    flex: 0 0 95%;
    max-width: calc(100% - 50px);
}

.Tran-page-ui {
    width: calc(100% - 50px);
    padding: 0rem .5rem !important;
    background-image: url(https://www.shutterstock.com/shutterstock/photos/2281284523/display_1500/stock-vector-abstract-white-background-minimal-geometric-white-light-background-abstract-design-2281284523.jpg);
}
.form-group {
    margin-bottom: .5rem;
}

.trn-header {
    background-color: transparent;
    padding-top: 5px;
}
.trn-barcode .form-control {
    background-color: beige;
}

.icon-button {
    height: 30px;
    border: none;
    width: 30px;
    margin: 0 auto;
    border-radius: 40px;
    font-size: 18px;
    background: none;
    color: #5a6f8d;
    text-align: center;
}

.icon-button:hover, #profileview:hover, .icon-button:focus, #profileview:focus {
    background: #b7c9dc8f;
    border-radius: 40px;
}

.modal-backdrop.show {
    opacity: .1;
    z-index:98!important;
}

.ui-custom-DropDown {
    position: relative;
}
/* Default row style */
.ui-custom-DropDown span.down {
    position: absolute;
    right: 2px;
    top: 1px;
    font-size: 18px;
    height: 28px;
    width: 30px;
    text-align: center;
    padding: 0px;
    line-height: 30px;
    font-size: 14px;
    background: #fff;
}

.ui-custom-DropDown-list {
    width: 600px;
    position: absolute;
    margin: 0px;
    z-index: 9999;
    background-color: #fff;
    color: #000000;
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 12%);
    padding-top: 0px;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
    
    .custom-dropdown-table
    {
        width: 100%;
    }

.custom-dropdown-table tbody tr {
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.custom-dropdown-table tr {
    padding: 0px 5px;
    border-bottom: solid 1px #efeff6;
    min-width: 100%;
    /*  width: auto;
    float: left;*/
}

/* Highlight for focused row */
.custom-dropdown-table tbody tr.focused-row {
    background-color: #007bff; /* Bootstrap primary blue */
    color: #ffffff; /* White text */
    outline: none; /* Remove focus outline */
}

/* Optional: Hover effect for rows */
.custom-dropdown-table tbody tr:hover {
    background-color: #f1f1f1; /* Light gray on hover */
    color: #000000; /* Black text */
}

.custom-dropdown-table th, .custom-dropdown-table thead {
    font-weight: 500;
    position: sticky;
    font-size: 12px;
    top: 0px;
    z-index: 1;
    background: #fff
}

.custom-dropdown-table td {
    font-weight: 400;
    font-size: 13px;
}

.custom-dropdown-table td, .custom-dropdown-table th {
    min-width: 160px;
    max-width: 160px;
    padding: 3px 0px 3px 15px;
    overflow: hidden;
    white-space: nowrap;
}


    .ui-custom-DropDown-list .NoRecord {
        text-align: center;
        display: block;
        line-height: 184px;
        font-size: 18px;
        color: red;
    }

    .custom-dropdown-table td:first-child, .custom-dropdown-table th:first-child {
        max-width: 300px;
        min-width: 89px;
    }

}

.table input[readonly], .table input[readonly]:focus {
    border: none;
    width: 100%;
    background: transparent;
    cursor: context-menu;
    outline:none;
}
.form-switch .form-check-input {
    margin-left:0px;
}