@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>


    <title></title>
</head>
<body class="main-bg">

    <h2>Somthing Want Worng</h2>
    <a asp-controller="Validate" asp-action="index">Click Here</a>

   

</body>
</html>

