@model LMS.Models.SignInModel

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/fontawesome-free/css/all.css" rel="stylesheet" />
    <style>
        body {
            margin-bottom: 0px;
            background-color: hsl(0, 0%, 96%)
        }
        .btn-block {
            --mdb-btn-margin-top: 0.5rem;
            display: block;
            width: 100%;
        }
    </style>

</head>
<body>

    <!-- Section: Design Block -->
    <section class="">
        <!-- Jumbotron -->
        <div class="px-4 py-5 px-md-5 text-center text-lg-start">
            <div class="container">
                <div class="row gx-lg-5 align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0 d-none d-md-block">
                        <h1 class="my-5 display-3 fw-bold ls-tight">
                            User friendly <br />
                            <span class="text-primary">for your business</span>
                        </h1>
                        <p style="color: hsl(217, 10%, 50.8%)">
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card shadow-lg ">
                            <div class="card-body py-5 px-md-5">
                                <form asp-action="Index">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <img src="/logo.png" />
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                                    <!-- 2 column grid layout with text inputs for the first and last names -->
                                    <div class="form-outline mb-4 text-left">
                                        <label asp-for="UserID" class="control-label "></label>
                                        <input asp-for="UserID" class="form-control" required />

                                    </div>
                                    <div class="form-outline mb-4 text-left">
                                        <label asp-for="Password" class="control-label text-left"></label>
                                        <input type="password" asp-for="Password" class="form-control" value="@Model.Password" required />
                                    </div>

                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-block mb-4">
                                        Sign up
                                    </button>

                                    <!-- Register buttons -->
                                    <div class="text-center">
                                        <p>or sign up with:</p>
                                        <button type="button" class="btn btn-link btn-floating mx-1">
                                            <i class="fab fa-facebook-f"></i>
                                        </button>

                                        <button type="button" class="btn btn-link btn-floating mx-1">
                                            <i class="fab fa-google"></i>
                                        </button>

                                        <button type="button" class="btn btn-link btn-floating mx-1">
                                            <i class="fab fa-twitter"></i>
                                        </button>

                                        <button type="button" class="btn btn-link btn-floating mx-1">
                                            <i class="fab fa-github"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
    @if (ViewBag.Message != null)
    {
        <script>
            alert('@ViewBag.Message');
        </script>
    }

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
