@model SSRepository.Models.ProdLotDtlModel

@{
    ViewData["Title"] = "Article";
    ViewData["bdClass"] = "page";
}

<div class="row" style="background:#e4e9ec">

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Sub Section <span asp-validation-for="FKProductId" class="text-danger"></span></label>
            @await Html.PartialAsync("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FKProductId" }, { "Class", "form-control" }, { "event", "ViewProductLot()" },
            { "value", Model.FKProductId }, { "text", Model.ProductName }, { "uri", "" }})
        </div>
    </div>
</div>
<div class="p-3">
    <form asp-action="Create" class="g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkLotId" />

        <div class="row">
            <div class="col-md-12">
                <div class="row">


                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Article  No  <span asp-validation-for="LotNo" class="text-danger"></span></label>
                            <input asp-for="LotNo" class="form-control" />

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Article  Name <span asp-validation-for="LotName" class="text-danger"></span></label>
                            <input asp-for="LotName" class="form-control" />

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Size <span asp-validation-for="Batch" class="text-danger"></span></label>
                            <input asp-for="Batch" class="form-control" />

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Color <span asp-validation-for="Color" class="text-danger"></span></label>
                            <input asp-for="Color" class="form-control" />

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">MRP <span asp-validation-for="MRP" class="text-danger"></span></label>
                            <input asp-for="MRP" class="form-control" />

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Sale Rate <span asp-validation-for="SaleRate" class="text-danger"></span></label>
                            <input asp-for="SaleRate" class="form-control" />

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Alias <span asp-validation-for="LotAlias" class="text-danger"></span></label>
                            <input asp-for="LotAlias" class="form-control" />

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Purchase Rate <span asp-validation-for="PurchaseRate" class="text-danger"></span></label>
                            <input asp-for="PurchaseRate" class="form-control" />

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Trade Rate <span asp-validation-for="TradeRate" class="text-danger"></span></label>
                            <input asp-for="TradeRate" class="form-control" />

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Distribution Rate <span asp-validation-for="DistributionRate" class="text-danger"></span></label>
                            <input asp-for="DistributionRate" class="form-control" />

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Mfg Date <span asp-validation-for="MfgDate" class="text-danger"></span></label>
                            <input asp-for="MfgDate" class="form-control" />

                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Expiry Date <span asp-validation-for="ExpiryDate" class="text-danger"></span></label>
                            <input asp-for="ExpiryDate" class="form-control" />

                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">
                                Barcode <span asp-validation-for="Barcode" class="text-danger"></span>
                            </label>
                            <input asp-for="Barcode" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                             <label class="control-label">Remarks<span asp-validation-for="Remarks" class="text-danger"></span></label>
                            <input asp-for="Remarks" class="form-control" />

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="submit" class="btn btn-sm btn-key-84" style="background: #288e8b !important;width: 87px;color: #fff;" value="Add" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div>
        <div class="row">
            <div id="WUCHM1" class="col-12">
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/master/prodlotdtl.js"></script>
}