@model SSRepository.Models.CategoryModel

@{
    ViewData["Title"] = "Section Create";
    ViewData["bdClass"] = "page";
}

<div class="p-3">
    <form asp-action="Create" class="g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkCategoryId" />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Section Group </label>
                    <select asp-for="FkCategoryGroupId" asp-items="@(new SelectList(ViewBag.CategoryGroupList,"PkCategoryGroupId","CategoryGroupName"))" class="form-control" id="FkCategoryId">
                    </select>

                    <span asp-validation-for="FkCategoryGroupId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Section Name</label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
            </div>           
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    <script>
        $(document).ready(function () {
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
        })
        UploadImage = (id) => {
            var file = document.querySelector('input[id="file_' + id + '"]').files[0];
            // $("#FileName").val(file.name);
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                //console.log(reader.result);
                $("#" + id).val(reader.result);
                $("#dummyimage_" + id).attr("src", reader.result);
                $("#dummyimage_" + id).show();
                //   $("#myImage").hide();

            };
        }
    </script>
}