@model SSRepository.Models.CategoryModel

@{
    ViewData["Title"] = "Section";
    ViewData["bdClass"] = "page";
}
<style>
    tr.tbl-delete, tr.tbl-delete input, tr.tbl-delete td {
        background: red;
    }

    .shelf-tblCatSize input {
        border: none;
    }
</style>
<div class="p-3">
    <form asp-action="Create" class="g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PKID" />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Section Group </label>
                    @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkCategoryGroupId" },{"name","CategoryGroup"}, { "Class", "val-cus-drp" }, { "event", "" },
                    { "value", Model.FkCategoryGroupId }, { "text", Model.GroupName }, { "uri", "CategoryGroup" }, { "required", "required" },{ "placeholder", "Select Group"}
                    ,{ "parentid", "" }, { "ExtraParam", "" }})
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Section Name</label>
                    <input asp-for="Category" class="form-control" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="border p-2">
                    <h5>Size</h5>
                    <div class="row">

                        <div class="col-md-9">
                            <div class="form-group">
                                <input id="txtSize" class="form-control" type="text" style="height: 37px;" />

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="hidden" id="hidSizeIndex" autocomplete="off" value="">
                                <input type="button" class="btn btn-warning" value="Add" onclick="addSizes()" autocomplete="off">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <table id="tblSize" class="shelf-tblCatSize table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Size</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="md-height">
                                    @{
                                        int AcNo = -1;
                                    }
                                    @if (Model.CategorySize_lst != null)
                                    {
                                        for (int i = 0; i < Model.CategorySize_lst.Count; i++)
                                        {
                                            AcNo++;
                                            <tr index="0">

                                                <td class="tabel-td-xs">
                                                    <input readonly="readonly" id="CategorySize_lst_@(i)__Size" name="CategorySize_lst[@i].Size" type="text" value="@Model.CategorySize_lst[i].Size" tabindex="-1">
                                                </td>

                                                <td class="tabel-td-xs">
                                                    <input id="CategorySize_lst_@(i)__Mode" name="CategorySize_lst[@i].Mode" type="hidden" value="1">
                                                    <input id="CategorySize_lst_@(i)__PkId" name="CategorySize_lst[@i].PkId" type="hidden" value="@Model.CategorySize_lst[i].PkId">
                                                    <span class="action-icon" onclick="UpdateSize(this,@i,'del')">
                                                        <i class="fa fa-trash"></i>
                                                    </span>
                                                </td>
                                            </tr>

                                        }

                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/master/category.js"></script>
      
}