@{
    ViewData["Title"] = ViewBag.PromotionDuring + " Promotion List";
    ViewData["bdClass"] = "browser";
}
<div class="filter">
    <input style="display:none" id="PromotionDuring" name="PromotionDuring" type="text" value="@ViewBag.PromotionDuring" />
</div>
<partial name="~/Views/Shared/partial/_Grid.cshtml" />;

@section Scripts {
    <script src="~/js/master/browser.js"></script>
    <script>
        $(document).ready(function () {
            $("#create_new").attr("href", "/Master/Promotion/Create/@ViewBag.PromotionDuring" );

            IdProperty = "PkPromotionId";
            GridName = "@ViewBag.PromotionDuring";
            View();
        });
    </script>
}