@{
    ViewData["Title"] = ViewBag.PromotionDuring + " Promotion";
    ViewData["bdClass"] = "browser";
}
<div class="filter">
    <input style="display:none" id="PromotionDuring" name="PromotionDuring" type="text" value="@ViewBag.PromotionDuring" />
</div>
<partial name="~/Views/Shared/partial/_Grid.cshtml" />;
<ul id="contextMenu" style="display:none;position:absolute">
    <li id="contextDelete" data="Delete">Delete</li>
</ul>
@section Scripts {
    <script src="~/js/master/browser.js?id=@ViewBag.fileverson"></script>
    <script>
        $(document).ready(function () {
            $("#create_new").attr("href", "/Master/Promotion/Create/@ViewBag.PromotionDuring" );

            IdProperty = "PKID";
            GridName = "@ViewBag.PromotionDuring";
            View();
        });
    </script>
}