@model SSRepository.Models.TransactionModel

@{
    ViewData["Title"] = "Location Transfer Invoice";
    ViewData["bdClass"] = "Salepage Tran";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="display: flex;justify-content: space-between;overflow: hidden;">
    <div class="Tran-page-ui">
        <form id="TranForm" class="form">
            <partial name="~/Views/Shared/Transactions/_tranHeader.cshtml" />
            <partial name="~/Views/Shared/Transactions/_tranGrid.cshtml" />
            <partial name="~/Views/Shared/Transactions/_tranFooter.cshtml" />
        </form>
    </div>
    <partial name="~/Views/Shared/Transactions/_tranRight.cshtml" />
</div>

<input type="hidden" id="hdControllerName" value="LocationTransferInvoice" />
<input type="hidden" id="hdModeFormForEdit" value="@(ViewBag.ModeFormForEdit!=null?ViewBag.ModeFormForEdit:"1")" />
<partial name="~/Views/Shared/Transactions/_tranInfo.cshtml" />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/transaction/transaction.js"></script>
}