@model SSRepository.Models.FormModel

@{
    ViewData["Title"] = "Menu";
    ViewData["bdClass"] = "page";
}
<div class="p-4">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PKID" />
        <div class="form-group row">
            <label class="col-sm-1">Name</label>
            <div class="col-md-3">
                <input asp-for="FormName" class="form-control" />
                <span asp-validation-for="FormName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1">Seq No</label>
            <div class="col-md-3">
                <input asp-for="SeqNo" class="form-control" />
                <span asp-validation-for="SeqNo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1">Master Form</label>
            <div class="col-md-3">
                @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FKMasterFormID" }, { "Class", "val-cus-drp" }, { "event", "" },
                { "value", Model.FKMasterFormID }, { "text", Model.MasterForm }, { "uri", "" } })

                <span asp-validation-for="FormName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1">Short Name</label>
            <div class="col-md-3">
                <input asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1">Short Cut</label>
            <div class="col-md-3">
                <input asp-for="ShortCut" class="form-control" />
                <span asp-validation-for="ShortCut" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1">Tool Tip</label>
            <div class="col-md-3">
                <input asp-for="ToolTip" class="form-control" />
                <span asp-validation-for="ToolTip" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1">Web URL</label>
            <div class="col-md-3">
                <input asp-for="WebURL" class="form-control" />
                <span asp-validation-for="WebURL" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1">FormType</label>
            <div class="col-md-3">
                <input asp-for="FormType" class="form-control" />
                <span asp-validation-for="FormType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1">Image</label>
            <div class="col-md-3">
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-1">IsActive</label>
            <div class="col-md-3">
                <input asp-for="IsActive" type="checkbox" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>

    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
        })
    </script>
}