@model SSRepository.Models.TransactionModel

@{
    Layout = null;
}
<style>
    .trn-barcode, .trn-barcode input[type="text"] {
        background-color: lightgoldenrodyellow;
        box-shadow: none;
    }

</style>
<input type="hidden" id="hdProductList" value="@ViewBag.ProductList" />
<input type="hidden" id="hdInvoiceList" value="[]" />

<div class="col-md-6 mb-2">
    <h5 class="font-weight-bold mt-5">Product to be Received</h5>
    <div id="DDTIn" class="DDT">
    </div>
</div>
<div class="col-md-6 mb-2">
    <h5 class="font-weight-bold mt-5">Product to be Issued</h5>
    <div id="DDTOut" class="DDT">
    </div>
</div>
<style>
    .contextMenu {
        background: #e1efc7;
        border: 1px solid gray;
        padding: 2px;
        display: none;
        min-width: 100px;
        -moz-box-shadow: 2px 2px 2px silver;
        -webkit-box-shadow: 2px 2px 2px silver;
        z-index: 99999;
    }

        .contextMenu li {
            padding: 4px 4px 4px 14px;
            list-style: none;
            cursor: pointer;
            background: url(../images/arrow_right_peppermint.png) no-repeat center left;
        }

    *,
</style>
<ul id="contextMenuIn" class="contextMenu" style="display:none;position:absolute">
    <li id="contextEditColumn" data="EditColumn">Edit Column</li>
</ul>
<ul id="contextMenuOut" class="contextMenu" style="display:none;position:absolute">
    <li id="contextEditColumn" data="EditColumn">Edit Column</li>
</ul>