@model SSRepository.Models.CategoryGroupModel

@{
    ViewData["Title"] = "Section Group";
    ViewData["bdClass"] = "page";
}
<div class="p-3">
    <form asp-action="Create" class="g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PKID" />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Parent Section Group </label>
                    @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkCategoryGroupId" },{"name","CategoryGroup"}, { "Class", "val-cus-drp" }, { "event", "" },
                    { "value", Model.FkCategoryGroupId }, { "text", Model.PCategoryGroupName }, { "uri", "CategoryGroup" }, { "required", "" },{ "placeholder", "Select Group"}
                    ,{ "parentid", "" }, { "ExtraParam", "" }})

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Section Group Name</label>
                    <input asp-for="CategoryGroupName" class="form-control" />
                    <span asp-validation-for="CategoryGroupName" class="text-danger"></span>
                </div>
            </div>

        </div>

    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/master/categorygroup.js"></script>

  }