@model SSRepository.Models.TransactionModel

@{
    ViewData["Title"] = "Contra Voucher";
    ViewData["bdClass"] = "Salepage Tran";
}

<div style="display: flex;justify-content: space-between;overflow: hidden;">
    <div class="Tran-page-ui">
        <form id="TranForm" class="form">
        <partial name="~/Views/Shared/Voucher/_tranHeader.cshtml" />
        <partial name="~/Views/Shared/Voucher/_tranFooter.cshtml" />
        <partial name="~/Views/Shared/Voucher/_tranGrid.cshtml" />
    </form>
</div>
<partial name="~/Views/Shared/Transactions/_tranRight.cshtml" />
</div>
<input type="hidden" asp-for="PkId" />
<input type="hidden" id="hdData" value="@ViewBag.Data" />
<input type="hidden" id="hdControllerName" value="ContraVoucher" />
@section Scripts{
    <script src="~/js/transaction/Voucher.js"></script>
}