@model SSRepository.Models.DistrictModel

@{
    ViewData["Title"] = "District Create";
    ViewData["bdClass"] = "page";
}

<div class="p-3">
    <form asp-action="Create" class="g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkDistrictId" />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">State</label>
                    @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkStateId" }, { "Class", "val-cus-drp" }, { "event", "" },
                    { "value", Model.FkStateId }, { "text", Model.StateName }, { "uri", "" } })
             
                    <span asp-validation-for="FkStateId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">District Name</label>
                    <input asp-for="DistrictName" class="form-control" />
                    <span asp-validation-for="DistrictName" class="text-danger"></span>
                </div>
            </div>           
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    <script>
        $(document).ready(function () {
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
        })
        UploadImage = (id) => {
            var file = document.querySelector('input[id="file_' + id + '"]').files[0];
            // $("#FileName").val(file.name);
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                //console.log(reader.result);
                $("#" + id).val(reader.result);
                $("#dummyimage_" + id).attr("src", reader.result);
                $("#dummyimage_" + id).show();
                //   $("#myImage").hide();

            };
        }
    </script>
}