@model SSRepository.Models.TransactionModel

@{
    ViewData["Title"] = "Job Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row" style="margin-right:0px;margin-left: -4.5px;">
    <div class="p-2 tran-content">
        <form id="TranForm" class="row g-3 form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PkId" /> 
            <input type="hidden" id="hdData" value="@ViewBag.Data" />
            <input type="hidden" id="hdGridIn" value="@ViewBag.GridIn" />
            <input type="hidden" id="hdGridOut" value="@ViewBag.GridOut" />
            <input type="hidden" id="hdControllerName" value="Jobwork" />
            <partial name="~/Views/Shared/Transactions/JobWork/_tranHeader.cshtml" />
            <partial name="~/Views/Shared/Transactions/JobWork/_tranGrid.cshtml" />
           @* <partial name="~/Views/Shared/Transactions/_tranFooter.cshtml" />*@
        </form>
    </div>
    <partial name="~/Views/Shared/Transactions/_tranRight.cshtml" />
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }<script src="~/js/transaction/jobwork.js"></script> 
}