@model SSRepository.Models.TransactionModel
@{

    ViewData["Title"] = "Job Order";
    ViewData["bdClass"] = "Salepage Tran";
}

<div style="display: flex;justify-content: space-between;overflow: hidden;">
    <div class="Tran-page-ui">
        <form id="TranForm" class="form">
            <partial name="~/Views/Shared/Transactions/JobWork/_tranHeader.cshtml" />
            <partial name="~/Views/Shared/Transactions/JobWork/_tranGrid.cshtml" />
        </form>
    </div>
    <partial name="~/Views/Shared/Transactions/_tranRight.cshtml" />
</div>


<input type="hidden" id="hdGridIn" value="@ViewBag.GridIn" />
<input type="hidden" id="hdGridOut" value="@ViewBag.GridOut" />
<input type="hidden" id="hdControllerName" value="Jobwork" />
<partial name="~/Views/Shared/Transactions/_tranInfo.cshtml" />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/transaction/jobwork.js"></script>
}

