@model SSRepository.Models.ImportFileModel

@{
    ViewData["Title"] = "Stock";
    ViewData["bdClass"] = "page";
}

<div class="p-3">
    <form asp-action="Stock" class="g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       
        <div class="row">
        
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Select File</label>
                    <input asp-for="File" class="form-control" type="file" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 text-right pr-5">
                <a href="/excelfile/format/demo_importStock.csv" target="_blank" title="Format Download" class="nav-link" style="padding: 7px 0px 0px 7px;">
                   Downolad Format <i class="fas fa-download fa-fw" aria-hidden="true" style="font-size:30px;"></i>
                </a>
            </div>
        </div>

    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        let isAjaxRunning = false;
        $(document).ready(function () {
             $('#btnDeleteRecord').hide();
            $('#btnServerSave').val('Upload');
            $('#btnServerBack').hide();
            if ('@ViewBag.Msg'!=''){
                alert('@ViewBag.Msg');
            }
            $('#btnServerSave').click(function (e) {
                if (isAjaxRunning) {
                    return; // 🚫 ignore if already running
                }
                isAjaxRunning = true;
                ImportDataFromFile();
            });
        })
 
      
        function ImportDataFromFile() {
            if (!window.File || !window.FileReader || !window.FileList || !window.Blob) {
                alert('The File APIs are not fully supported in this browser.');
                return;
            }

            var input = document.getElementById('File');
            if (!input) {
                alert("Um, couldn't find the fileinput element.");
            }
            else if (!input.files) {
                alert("This browser doesn't seem to support the `files` property of file inputs.");
            }
            else if (!input.files[0]) {
                alert("Please select a file");
            }
            else {
                var formData = new FormData();
                var file = $('#File')[0].files[0];
                formData.append("file", file);
                $(".loader").show();
                $.ajax({
                    url: Handler.currentPath() + 'ImportDatafile',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        //console.log(res)
                        if (res.status == 'success') {
                        
                        }
                        else {
                            alert(res.msg.replace(/,\s*/g, ",\n"));
                            $(".loader").hide();
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("Upload failed: " + xhr.responseText);
                    },
                    complete: function () {
                        isAjaxRunning = false;
                        $('#File').val('');
                    }
                });

            }


        }
    </script>
}