@model SSRepository.Models.BrandModel

@{
    ViewData["Title"] = "Brand";
    ViewData["bdClass"] = "page";
}
<div class="p-4">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkBrandId" />
        <div class="form-group row">
            <label class="col-sm-1">Name</label>
            <div class="col-md-3">
                <input asp-for="BrandName" class="form-control" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
        </div>

    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/master/brand.js"></script>
}