@model SSRepository.Models.TransactionModel

@{
    Layout = null;
}
<button class="icon-button" type="button" onclick="$('.model-image').modal('toggle');" data-bs-toggle="tooltip" data-bs-placement="left" title="Upload Image" >
    <i class="bi bi-image"></i>
</button>

<div class="modal model-image" >
    <div class="modal-dialog" role="document" style="width: 57% !important;max-width: 100%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Image Detail</h5>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="radio-class mr-3 d-flex align-items-center mt-3">
                                <input type="file" >
                                <label class="label" for="StatusActive">Image</label>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="$('.model-image').modal('toggle');">Ok</button>
            </div>
        </div>
    </div>
</div>