@model SSRepository.Models.TransactionModel

@{
    Layout = null;
}

<div class="row trn-body">
    <div class="col-md-12 trn-barcode">
        <div class="form-group row mb-0">
            <div class="col-md-12 input-group ">
                <input type="text" id="txtSearchBarcode" class="form-control " placeholder="Barcode Search....">
                <input id="Barcodefile" class="form-control" type="file" accept=".txt" onchange="ImportBarcode()" style="display:none;" />
                <button type="button" class="btn btn-secondary" onclick="$('#Barcodefile').click()">
                    <i class="bi bi-download"></i>
                    &nbsp; Import Barcode
                    </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div id="DDT" class="DDT">
        </div>
    </div>
</div>
