@model SSRepository.Models.TransactionModel

@{
    Layout = null;
    bool flag = false;
}


<div class="right-header-bar">
    <button class="icon-button" type="button" id="btnAboutSupport" data-bs-toggle="tooltip" data-bs-placement="left" title="About">
        <i class="bi bi-info-circle-fill"></i>
    </button>
    <partial name="~/Views/Shared/Transactions/_image.cshtml" />

    <partial name="~/Views/Shared/Transactions/_Remark.cshtml" />


    @if (Model.ExtProperties.PostInAc || flag == true)
    {
        <button class="icon-button" type="button" onclick="VoucherDetail()" data-bs-toggle="tooltip" data-bs-placement="left" title="Voucher">
            <i class="fas fa-receipt"></i>
        </button>
        <partial name="~/Views/Shared/Transactions/_PaymentInfo.cshtml" />
        @if (Model.ExtProperties.TranAlias == "SINV" && Model.ExtProperties.DocumentType == "C")
        { }
        else
        {
            <button class="icon-button" type="button" onclick="showpopupPrintOption()" data-bs-toggle="tooltip" data-bs-placement="left" title="print barcode">
                <i class="fas fa-barcode"></i>
            </button>
        }
    }
    @if (Model.ExtProperties.TranAlias == "SINV")
    {
        <partial name="~/Views/Shared/Transactions/_ShippingDetails.cshtml" />
    }
    @if (Model.ExtProperties.TranAlias == "SORD" || Model.ExtProperties.TranAlias == "LORD" || flag == true)
    {
        <a href="/excelfile/format/demo_csv_artical.csv" target="_blank" class="icon-button" data-bs-toggle="tooltip" data-bs-placement="left" title="Download CSV Format">
            <i class="bi bi-upload"></i>
        </a>
        <button class="icon-button" type="button" onclick="$('#ExcelFile').click()" data-bs-toggle="tooltip" data-bs-placement="left" title="Upload CSV File">
            <i class="bi bi-download"></i>
        </button>

        <input type="file" name="ExcelFile" id="ExcelFile" onchange="UploadFile()" accept=".csv" class="file-input d-none">

    }
    @if (Model.ExtProperties.TranAlias == "PINV" || Model.ExtProperties.TranAlias == "PORD")
    {
        <partial name="~/Views/Shared/Transactions/_ImportData.cshtml" />
    }
</div>