 
@{
    Layout = null;
}
<input type="hidden" id="hdProductList" value="@ViewBag.ProductList" />
<input type="hidden" id="hdInvoiceList" value="[]" />
<div class="col-md-12 mb-2 mt-2">
    <div class="form-group"> 
        <input type="text" id="txtSearchBarcode" class="form-control input-number" placeholder="Barcode Search....">
    </div>

</div>
<div class="col-md-12 mb-2 mt-2">
    <div id="DDT" class="DDT">
    </div>
</div>
<ul id="contextMenu" style="display:none;position:absolute">
    <li id="contextEditColumn" data="EditColumn">Edit Column</li>
</ul>