@model SSRepository.Models.TransactionModel

@{
    Layout = null;
}
<style>
    .trn-barcode, .trn-barcode input[type="text"] {
        background-color: lightgoldenrodyellow;
        box-shadow: none;
    }

</style>
<input type="hidden" id="hdProductList" value="@ViewBag.ProductList" />
<input type="hidden" id="hdInvoiceList" value="[]" />
<div class="col-md-12 mt-2 trn-barcode">
    <div class="row">
        <div class="col-md-6">
            <input type="text" id="txtSearchBarcode" class="form-control" placeholder="Barcode Search....">
        </div>
        <div class="col-md-2">
            <input id="Barcodefile" type="file"  accept=".txt" />
        </div>
        <div class="col-md-2">
            <a  href="javascript:void(0)" class="btn btn-success" onclick="ImportBarcode()" id="btnImportBarcode">Import Barcode</a>
        </div>
    </div>

</div>
<div class="col-md-12 mb-2">
    <div id="DDT" class="DDT">
    </div>
</div>

<ul id="contextMenu" style="display:none;position:absolute">
    <li id="contextEditColumn" data="EditColumn">Edit Column</li>
</ul>