@model SSRepository.Models.LocalityModel

@{
    ViewData["Title"] = "Locality";
    ViewData["bdClass"] = "page";
}

<div class="p-3">
    <form asp-action="Create" class="g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkLocalityId" />
        <div class="row">
            <div class="col-md-8">
                <div class="form-group row">
                    <label class="col-sm-2">Area<span class="required">*</span></label>
                    <div class="col-md-6">
                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkAreaId" },{"name",""}, { "Class", "val-cus-drp" }, { "event", "" },
                        { "value", Model.FkAreaId }, { "text", Model.AreaName}, { "uri", "Area" }, { "required", "required" },{ "placeholder", "Select Area"}
                        ,{ "parentid", "" }, { "ExtraParam", "" }})
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2">Locality Name*</label>
                    <div class="col-md-6">
                        <input asp-for="LocalityName" class="form-control" />
                        <span asp-validation-for="LocalityName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Description</label>
                    <div class="col-md-6">
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
       
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
        })
        UploadImage = (id) => {
            var file = document.querySelector('input[id="file_' + id + '"]').files[0];
            // $("#FileName").val(file.name);
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                //console.log(reader.result);
                $("#" + id).val(reader.result);
                $("#dummyimage_" + id).attr("src", reader.result);
                $("#dummyimage_" + id).show();
                //   $("#myImage").hide();

            };
        }
    </script>
}