@model SSRepository.Models.StateModel

@{
    ViewData["Title"] = "State";
    ViewData["bdClass"] = "page";
}

<div class="master-page-ui">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PKID" />
        <div class="row">
            <div class="col-md-8">
                <div class="form-group row">
                    <label class="col-sm-2">Country*</label>
                    <div class="col-md-6">
                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkCountryId" },{"name",""}, { "Class", "val-cus-drp" }, { "event", "" },
                        { "value", Model.FkCountryId }, { "text", Model.CountryName}, { "uri", "Country" }, { "required", "required" },{ "placeholder", "Select Country"}
                        ,{ "parentid", "StateName" }, { "ExtraParam", "" }})
                        <span asp-validation-for="FkCountryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">State<span class="required">*</span> </label>
                    <div class="col-md-6">
                        <input asp-for="StateName" class="form-control" maxlength="100" />
                        <span asp-validation-for="StateName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Capital</label>
                    <div class="col-md-6">
                        <input asp-for="CapitalName" class="form-control" maxlength="100" />
                        <span asp-validation-for="CapitalName" class="text-danger"></span>
                    </div> 
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">State Code</label>
                    <div class="col-md-6">
                        <input asp-for="StateCode" class="form-control" maxlength="2" />
                        <span asp-validation-for="StateCode" class="text-danger"></span>
                    </div>

                </div>
                 
            </div>
            <div class="col-sm-4 show-checkbox-ui-sl-page">
                <div class="col-sm-8">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center form-check form-switch">
                            <label class="form-check-label" for="IsBillingLocation">State Type</label>
                            <span>
                                <div class="d-flex align-items-center form-check form-switch">
                                    <span>  <input asp-for="StateType" class="form-check-input" role="switch" id="StateTypeState" type="radio" value="State" checked></span>
                                    <label class="form-check-label ms-1" for="StateTypeState">State</label>
                                </div>

                                <div class="d-flex align-items-center form-check form-switch">
                                    <span>  <input asp-for="StateType" class="form-check-input" role="switch" id="StateTypeUnionTerritory" type="radio" value="Union Territory"></span>
                                    <label class="form-check-label ms-1" for="StateTypeUnionTerritory">Union Territory</label>
                                </div>
                            </span>
                        </li>
                        

                    </ul>
                </div>
            </div>



        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
        }) 
    </script>
}