@{

    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="main-wrapper overflow-hidden">
    <!-- ------------------------------------- -->
    <!-- banner Start -->
    <!-- ------------------------------------- -->
    <section class="bg-primary-subtle py-14">
        <div class="container-fluid">
            <div class="text-center">
                <p class="text-primary fs-4 fw-bolder">Pricing Page</p>
                <h1 class="fw-bolder fs-12">Choose Your Plan</h1>
            </div>
        </div>
    </section>
    <!-- ------------------------------------- -->
    <!-- banner End -->
    <!-- ------------------------------------- -->
    <!-- ------------------------------------- -->
    <!-- List Start -->
    <!-- ------------------------------------- -->
    <section class="py-5 py-md-14 py-lg-12">
        <div class="container-fluid">
            <div class="">
                <h2 class="fw-bolder fs-10 text-center">
                    111,476+ Trusted developers &
                    <br> many tech giants
                    as well
                </h2>
                <div class="row my-sm-5 my-4">
                    <div class="col-xl-3 col-sm-6 mb-4">
                        <div class="card p-7 mb-0 rounded-3 border">
                            <h3 class="fs-6 fw-bolder mb-0">Single Use</h3>
                            <p class="fs-2 mt-3 pb-sm-7 pb-3 mb-0 fw-bold border-bottom">
                                Use for single end product which end
                                users can’t be charged for.
                            </p>
                            <h3 class="fs-3 fw-normal mt-sm-7 mt-3 text-muted">
                                <span class="fs-10 fw-bolder text-dark">₹9999</span>/
                                one time pay
                            </h3>
                            <div class="my-sm-7 my-3 d-flex flex-column gap-3">
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">Full source code</p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">Documentation</p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-x.svg" alt="">
                                    <p class="fs-3 fw-bold mb-0 text-muted">Use in SaaS app</p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">
                                        <span class="fw-bolder">One</span>
                                        Project
                                    </p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">
                                        <span class="fw-bolder">One Year</span>
                                        Technical
                                        Support
                                    </p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">
                                        <span class="fw-bolder">One Year</span>
                                        Free
                                        Updates
                                    </p>
                                </div>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary">Purchase Now</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-4">
                        <div class="card p-7 mb-0 rounded-3 border">
                            <h3 class="fs-6 fw-bolder mb-0">Multiple Use</h3>
                            <p class="fs-2 mt-3 mb-0 pb-sm-7 pb-3 fw-bold border-bottom">
                                Use for unlimited end products end users
                                can’t be charged for.
                            </p>
                            <h3 class="fs-3 fw-normal mt-sm-7 mt-3 text-muted">
                                <span class="fs-10 fw-bolder text-dark">₹14999</span>/
                                one time pay
                            </h3>
                            <div class="my-sm-7 my-3 d-flex flex-column gap-3">
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">Full source code</p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">Documentation</p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-x.svg" alt="">
                                    <p class="fs-3 fw-bold mb-0 text-muted">Use in SaaS app</p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">
                                        <span class="fw-bolder">One</span>
                                        Project
                                    </p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">
                                        <span class="fw-bolder">One Year</span>
                                        Technical
                                        Support
                                    </p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">
                                        <span class="fw-bolder">One Year</span>
                                        Free
                                        Updates
                                    </p>
                                </div>
                            </div>
                            <button class="btn btn-primary">Purchase Now</button>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-4">
                        <div class="card p-7 mb-0 rounded-3 border">
                            <h3 class="fs-6 fw-bolder mb-0">
                                Extended Use <span class="text-primary fs-2 fw-bolder bg-primary-subtle py-1 px-2 rounded ms-2">Popular</span>
                            </h3>
                            <p class="fs-2 mt-3 mb-0 pb-sm-7 pb-3 fw-bold border-bottom">
                                Use for single end product which end
                                users can be charged for.
                            </p>
                            <h3 class="fs-3 fw-normal mt-sm-7 mt-3 text-muted">
                                <span class="fs-10 fw-bolder text-dark">₹29999</span>/
                                one time pay
                            </h3>
                            <div class="my-sm-7 my-3 d-flex flex-column gap-3">
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">Full source code</p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">Documentation</p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold mb-0 text-dark">Use in SaaS app</p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">
                                        <span class="fw-bolder">One</span>
                                        Project
                                    </p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">
                                        <span class="fw-bolder">One Year</span>
                                        Technical
                                        Support
                                    </p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">
                                        <span class="fw-bolder">One Year</span>
                                        Free
                                        Updates
                                    </p>
                                </div>
                            </div>
                            <button class="btn btn-primary">Purchase Now</button>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="card p-7 mb-0 rounded-3 border">
                            <h3 class="fs-6 fw-bolder mb-0">
                                Unlimited Use
                            </h3>
                            <p class="fs-2 mt-3 pb-sm-7 pb-3 mb-0 fw-bold border-bottom">
                                Use in unlimited end products end users
                                can be charged for.
                            </p>
                            <h3 class="fs-3 fw-normal mt-sm-7 mt-3 text-muted">
                                <span class="fs-10 fw-bolder text-dark">₹49999</span>/
                                one time pay
                            </h3>
                            <div class="my-sm-7 my-3 d-flex flex-column gap-3">
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">Full source code</p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">Documentation</p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold mb-0 text-dark">Use in SaaS app</p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">
                                        <span class="fw-bolder">One</span>
                                        Project
                                    </p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">
                                        <span class="fw-bolder">One Year</span>
                                        Technical
                                        Support
                                    </p>
                                </div>
                                <div class="d-flex gap-2">
                                    <img src="/assets/images/frontend-pages/icon-circle-check.svg" alt="">
                                    <p class="fs-3 fw-bold text-dark mb-0">
                                        <span class="fw-bolder">One Year</span>
                                        Free
                                        Updates
                                    </p>
                                </div>
                            </div>
                            <button class="btn btn-primary">Purchase Now</button>
                        </div>
                    </div>
                </div>
                <div class="">
                    <p class="fs-4 fw-bold text-center mb-7">Secured payment with PayPal & Razorpay</p>
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="d-flex align-items-center justify-content-between gap-4 flex-wrap">
                                <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Visa">
                                    <img src="/assets/images/frontend-pages/visa.png" alt="visa">
                                </a>
                                <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Mastercard">
                                    <img src="/assets/images/frontend-pages/mastercard.png" alt="mastercard">
                                </a>
                                <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Americanexpress">
                                    <img src="/assets/images/frontend-pages/americanexpress.png" alt="americanexpress">
                                </a>
                                <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Paypal">
                                    <img src="/assets/images/frontend-pages/paypal.png" alt="paypal">
                                </a>
                                <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Maestro">
                                    <img src="/assets/images/frontend-pages/maestro.png" alt="maestro">
                                </a>
                                <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="JCB">
                                    <img src="/assets/images/frontend-pages/jcb.png" alt="jcb">
                                </a>
                                <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Dinersclub">
                                    <img src="/assets/images/frontend-pages/dinersclub.png" alt="dinersclub">
                                </a>
                                <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Discover">
                                    <img src="/assets/images/frontend-pages/discover.png" alt="discover">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ------------------------------------- -->
    <!-- List End -->
    <!-- ------------------------------------- -->
   
</div>