 
.PageHead
{
	border-right: appworkspace 1px solid;
	border-top: appworkspace 1px solid;
	border-left: appworkspace 1px solid;
	border-bottom: appworkspace 1px solid;
	font-weight: bold;
	font-size: 10pt;
	color: #0000cc;
	font-family: Tahoma, verdana;
	padding-bottom: 4px;
	padding-top: 4px;
	text-transform: capitalize;
	background-image: url(../images/header_rowBg.gif);
	text-align: center;
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position: center center;
}

.grdfreez .slick-viewport { overflow-y:hidden !important;
	overflow-x : scroll !important;
	 }
	 
.grdfreez{   }
.grdunfreez, .grdfreez{  display:inline-block;}
   

 


.slick-cell:hover {
      cursor:pointer;
} 


.width98, .w98 { width:98%; }
.width97, .w97 { width:97%; }
.width96, .w96 { width:96%; }
.width95, .w95 { width:95%; }
.width94, .w94 { width:94%; }
.width93, .w93 { width:93%; }
.width92, .w92 { width:92%; }
.width91, .w91 { width:91%; }
.width90, .w90 { width:90%; }