@model SSRepository.Models.BranchModel

@{
    ViewData["Title"] = "Create";
    ViewData["bdClass"] = "page";
}

<div class="p-3">
    <form asp-action="Create" class="row g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkBranchId" />

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Branch Name</label>
                    <input asp-for="BranchName" class="form-control" />
                    <span asp-validation-for="BranchName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Branch Code</label>
                    <input asp-for="BranchCode" class="form-control" />
                    <span asp-validation-for="BranchCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">

                    <label class="control-label">Contact Person</label>
                    <input asp-for="ContactPerson" class="form-control" />
                    <span asp-validation-for="ContactPerson" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control input-number" pattern="Mobile" maxlength="10" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" pattern="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Branch Location</label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Address</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4" style="display:none">
                <div class="form-group">
                    <label class="control-label">Country</label>
                    <input asp-for="Country" class="form-control" value="India" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">State</label>
                    <select asp-for="State" asp-items="@(new SelectList(ViewBag.StateList,"Value","Text"))" class="form-control" onchange="BindCity()">
                    </select>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">City</label>
                    <select asp-for="FkCityId" class="form-control">
                        <option value="">-Select-</option>
                    </select>
                    <span asp-validation-for="FkCityId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Pin</label>
                    <input asp-for="Pin" class="form-control  input-number" maxlength="6" pattern="PinCode" />
                    <span asp-validation-for="Pin" class="text-danger"></span>
                </div>
            </div>
        </div>

    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            Common.InputFormat();
            BindCity(@Model.FkCityId);
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
        })
        UploadImage = (id) => {
            var file = document.querySelector('input[id="file_' + id + '"]').files[0];
            // $("#FileName").val(file.name);
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                //console.log(reader.result);
                $("#" + id).val(reader.result);
                $("#dummyimage_" + id).attr("src", reader.result);
                $("#dummyimage_" + id).show();
                //   $("#myImage").hide();

            };
        }
    </script>

    <script>
        function BindCity(CityId) {
            debugger;
            var StateName = $("#State").val();
            $("#FkCityId").empty();
            //

            if (StateName != '') {

                $.ajax({
                    type: "POST",
                    url: '/Master/City/GetDrpCityByState',
                    data: { State: StateName },
                    datatype: "json",
                    success: function (res) {
                        console.log(res);
                        $(res).each(function (i, v) {

                            $("#FkCityId").append("<option value='" + v.PkCityId + "'>" + v.CityName + "</option>");
                        });

                        if (CityId > 0) {
                            $("#FkCityId").val(CityId);
                        }
                    }
                })

            } else { $("#FkCityId").append("<option value=''>-Select-</option>"); }
        }
    </script>
}