@model SSRepository.Models.TransactionModel

@{
    ViewData["Title"] = "Journal Voucher";
    ViewData["bdClass"] = "Salepage Tran";
}


<div style="display: flex;justify-content: space-between;overflow: hidden;">
    <div class="Tran-page-ui">
        <form id="TranForm" class="form">
        <partial name="~/Views/Shared/Voucher/_tranHeader.cshtml" />
        <partial name="~/Views/Shared/Voucher/_tranFooter.cshtml" />
        <partial name="~/Views/Shared/Voucher/_tranGrid.cshtml" />
    </form>
    </div>
    <partial name="~/Views/Shared/Transactions/_tranRight.cshtml" />
</div>
<input type="hidden" asp-for="PkId" />
<input type="hidden" id="hdData" value="@ViewBag.Data" />
<input type="hidden" id="hdControllerName" value="JournalVoucher" />
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/transaction/Voucher.js"></script>

}