<div id="dvGridLayoutdialog" style="display:none;" class="set-grid-layout-popup setgrid-layout Grid-layout">
    <div class="setgridlayout-main" id="dvSGLSelectColumn">
        <div class="search-penal setgridlayout-search ui-modal-content-header">

            <div class="row">
                <div class="col-sm-9">
                    <div class="mst-colum-search-ui no-dropdown">
                        <input class="form-control filter-search" type="text" name="SGLSearch" placeholder="Search...">
                        <button class="dropdown-toggle"><i class="bi bi-search"></i></button>
                    </div>
                </div>
                <div class="col-sm-3 text-end">
                    <a id="SGLSave" href="javascript: void(0)" class="btn btn-primary">
                        <i class="bi bi-pencil-square"></i> &nbsp;Save
                    </a>
                </div>
            </div>
        </div>
        <div id="SGLBody" class="setgridlayout popup-grid custom-grid-adjustment" style="border: solid 1px #efeff6;">
        </div>
    </div>
</div>