@model SSRepository.Models.CityModel

@{
    ViewData["Title"] = "City";
    ViewData["bdClass"] = "page";
}

<div class="master-page-ui">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PKID" />
        <div class="row">
            <div class="col-md-8">

                <div class="form-group row">
                    <label class="col-sm-2">State Name<span class="required">*</span> </label>
                    <div class="col-md-6">
                        <select asp-for="StateName" asp-items="@(new SelectList(ViewBag.StateList,"Value","Text"))" class="form-control form-select">
                        </select>
                        <span asp-validation-for="StateName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">City Name</label>
                    <div class="col-md-6">
                        <input asp-for="CityName" class="form-control" />
                        <span asp-validation-for="CityName" class="text-danger"></span>
                    </div>
                </div>


            </div>
        </div>
    </form>
</div> 

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
        }) 
    </script>
}